<a href="https://colab.research.google.com/github/fertmarana/manipulating_movie_data/blob/main/Selecionando_exatamente_as_dimensoes_pivot_dat_e_Q.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
import pandas as pd
import numpy as np

ratings_path = "/content/drive/MyDrive/Sistemas de Recomendação/Projeto2/Movie 20M/ratings.csv"
ratings = pd.read_csv(ratings_path,names=["user_id","movie_id", "rating","timestamp"], sep=',',header=0)
ratings

          user_id  movie_id  rating   timestamp
0               1         2     3.5  1112486027
1               1        29     3.5  1112484676
2               1        32     3.5  1112484819
3               1        47     3.5  1112484727
4               1        50     3.5  1112484580
...           ...       ...     ...         ...
20000258   138493     68954     4.5  1258126920
20000259   138493     69526     4.5  1259865108
20000260   138493     69644     3.0  1260209457
20000261   138493     70286     5.0  1258126944
20000262   138493     71619     2.5  1255811136

[20000263 rows x 4 columns]

Lendo arquivo

In [3]:
import pandas as pd
import numpy as np

#ratings_path = "/content/drive/MyDrive/Sistemas de Recomendação/Projeto2/Versão2/ratings.dat"
#ratings = pd.read_csv(ratings_path, names=["user_id","movie_id", "rating","timestamp"], sep='::')
#ratings

In [4]:
k_movies = 1200#max(ratings['movie_id'])#1000
k_users = 7000#max(ratings['user_id'])#1000

In [5]:
ratings

          user_id  movie_id  rating   timestamp
0               1         2     3.5  1112486027
1               1        29     3.5  1112484676
2               1        32     3.5  1112484819
3               1        47     3.5  1112484727
4               1        50     3.5  1112484580
...           ...       ...     ...         ...
20000258   138493     68954     4.5  1258126920
20000259   138493     69526     4.5  1259865108
20000260   138493     69644     3.0  1260209457
20000261   138493     70286     5.0  1258126944
20000262   138493     71619     2.5  1255811136

[20000263 rows x 4 columns]

In [6]:
print('user_id_max',max(ratings['user_id']))
print('movie_id_max',max(ratings['movie_id']))

user_id_max 138493
movie_id_max 131262

Testando quais colunas(filmes) e linhas(usuários) tem a soma maior que 10 avaliações

In [7]:
#separando em chunks porque é muito grande pra rodar a funcao pivot_table sozinha
chunk_size = 50000
chunks = [x for x in range(0, ratings.shape[0], chunk_size)]
print(ratings.shape[0])
print(chunks)
#for i in range(0, len(chunks) - 1):
    #print(chunks[i], chunks[i + 1] - 1)

20000263
[0, 50000, 100000, 150000, 200000, 250000, 300000, 350000, 400000, 450000, 500000, 550000, 600000, 650000, 700000, 750000, 800000, 850000, 900000, 950000, 1000000, 1050000, 1100000, 1150000, 1200000, 1250000, 1300000, 1350000, 1400000, 1450000, 1500000, 1550000, 1600000, 1650000, 1700000, 1750000, 1800000, 1850000, 1900000, 1950000, 2000000, 2050000, 2100000, 2150000, 2200000, 2250000, 2300000, 2350000, 2400000, 2450000, 2500000, 2550000, 2600000, 2650000, 2700000, 2750000, 2800000, 2850000, 2900000, 2950000, 3000000, 3050000, 3100000, 3150000, 3200000, 3250000, 3300000, 3350000, 3400000, 3450000, 3500000, 3550000, 3600000, 3650000, 3700000, 3750000, 3800000, 3850000, 3900000, 3950000, 4000000, 4050000, 4100000, 4150000, 4200000, 4250000, 4300000, 4350000, 4400000, 4450000, 4500000, 4550000, 4600000, 4650000, 4700000, 4750000, 4800000, 4850000, 4900000, 4950000, 5000000, 5050000, 5100000, 5150000, 5200000, 5250000, 5300000, 5350000, 5400000, 5450000, 5500000, 5550000, 5600000, 5650000, 5700000, 5750000, 5800000, 5850000, 5900000, 5950000, 6000000, 6050000, 6100000, 6150000, 6200000, 6250000, 6300000, 6350000, 6400000, 6450000, 6500000, 6550000, 6600000, 6650000, 6700000, 6750000, 6800000, 6850000, 6900000, 6950000, 7000000, 7050000, 7100000, 7150000, 7200000, 7250000, 7300000, 7350000, 7400000, 7450000, 7500000, 7550000, 7600000, 7650000, 7700000, 7750000, 7800000, 7850000, 7900000, 7950000, 8000000, 8050000, 8100000, 8150000, 8200000, 8250000, 8300000, 8350000, 8400000, 8450000, 8500000, 8550000, 8600000, 8650000, 8700000, 8750000, 8800000, 8850000, 8900000, 8950000, 9000000, 9050000, 9100000, 9150000, 9200000, 9250000, 9300000, 9350000, 9400000, 9450000, 9500000, 9550000, 9600000, 9650000, 9700000, 9750000, 9800000, 9850000, 9900000, 9950000, 10000000, 10050000, 10100000, 10150000, 10200000, 10250000, 10300000, 10350000, 10400000, 10450000, 10500000, 10550000, 10600000, 10650000, 10700000, 10750000, 10800000, 10850000, 10900000, 10950000, 11000000, 11050000, 11100000, 11150000, 11200000, 11250000, 11300000, 11350000, 11400000, 11450000, 11500000, 11550000, 11600000, 11650000, 11700000, 11750000, 11800000, 11850000, 11900000, 11950000, 12000000, 12050000, 12100000, 12150000, 12200000, 12250000, 12300000, 12350000, 12400000, 12450000, 12500000, 12550000, 12600000, 12650000, 12700000, 12750000, 12800000, 12850000, 12900000, 12950000, 13000000, 13050000, 13100000, 13150000, 13200000, 13250000, 13300000, 13350000, 13400000, 13450000, 13500000, 13550000, 13600000, 13650000, 13700000, 13750000, 13800000, 13850000, 13900000, 13950000, 14000000, 14050000, 14100000, 14150000, 14200000, 14250000, 14300000, 14350000, 14400000, 14450000, 14500000, 14550000, 14600000, 14650000, 14700000, 14750000, 14800000, 14850000, 14900000, 14950000, 15000000, 15050000, 15100000, 15150000, 15200000, 15250000, 15300000, 15350000, 15400000, 15450000, 15500000, 15550000, 15600000, 15650000, 15700000, 15750000, 15800000, 15850000, 15900000, 15950000, 16000000, 16050000, 16100000, 16150000, 16200000, 16250000, 16300000, 16350000, 16400000, 16450000, 16500000, 16550000, 16600000, 16650000, 16700000, 16750000, 16800000, 16850000, 16900000, 16950000, 17000000, 17050000, 17100000, 17150000, 17200000, 17250000, 17300000, 17350000, 17400000, 17450000, 17500000, 17550000, 17600000, 17650000, 17700000, 17750000, 17800000, 17850000, 17900000, 17950000, 18000000, 18050000, 18100000, 18150000, 18200000, 18250000, 18300000, 18350000, 18400000, 18450000, 18500000, 18550000, 18600000, 18650000, 18700000, 18750000, 18800000, 18850000, 18900000, 18950000, 19000000, 19050000, 19100000, 19150000, 19200000, 19250000, 19300000, 19350000, 19400000, 19450000, 19500000, 19550000, 19600000, 19650000, 19700000, 19750000, 19800000, 19850000, 19900000, 19950000, 20000000]

In [ ]:
# agora que separamos em chunks vamos ir adicionando pouco a pouco na tabela pivot 
from tqdm import tqdm

pivot_df = pd.DataFrame()
for i in tqdm(range(0, len(chunks) - 1)):
  chunk_df = ratings.iloc[ chunks[i]:chunks[i + 1] - 1]
  interactions = (chunk_df.groupby(["user_id", "movie_id"])["rating"]
      .sum()
      .unstack()
      .reset_index()
      .fillna(0)
      .set_index("user_id")
    )
  print (interactions.shape)
  pivot_df = pivot_df.append(interactions, sort=False)

  0%|          | 1/400 [00:00<00:41,  9.62it/s]

(370, 6470)
(333, 6710)

  0%|          | 2/400 [00:00<02:03,  3.23it/s]

(293, 7671)

  1%|          | 3/400 [00:01<05:10,  1.28it/s]

(378, 6049)

  1%|          | 4/400 [00:03<06:28,  1.02it/s]

(364, 6021)

  1%|▏         | 5/400 [00:04<07:48,  1.19s/it]

(321, 6832)

  2%|▏         | 6/400 [00:06<08:46,  1.34s/it]

(310, 6552)

  2%|▏         | 7/400 [00:08<09:51,  1.50s/it]

(366, 6305)

  2%|▏         | 8/400 [00:10<10:33,  1.62s/it]

(330, 6560)

  2%|▏         | 9/400 [00:12<13:06,  2.01s/it]

(318, 6598)

  2%|▎         | 10/400 [00:15<14:27,  2.23s/it]

(309, 7111)

  3%|▎         | 11/400 [00:17<14:22,  2.22s/it]

(341, 7240)

  3%|▎         | 12/400 [00:20<14:27,  2.24s/it]

(311, 6656)

  3%|▎         | 13/400 [00:22<14:32,  2.26s/it]

(309, 6638)

  4%|▎         | 14/400 [00:24<14:33,  2.26s/it]

(360, 5937)

  4%|▍         | 15/400 [00:27<14:38,  2.28s/it]

(340, 6116)

  4%|▍         | 16/400 [00:29<14:43,  2.30s/it]

(354, 6025)

  4%|▍         | 17/400 [00:33<18:15,  2.86s/it]

(344, 6373)

  4%|▍         | 18/400 [00:36<17:49,  2.80s/it]

(340, 6151)

  5%|▍         | 19/400 [00:38<17:37,  2.78s/it]

(371, 6607)

  5%|▌         | 20/400 [00:41<17:40,  2.79s/it]

(390, 6190)

  5%|▌         | 21/400 [00:44<18:11,  2.88s/it]

(367, 6722)

  6%|▌         | 22/400 [00:47<18:25,  2.93s/it]

(336, 6605)

  6%|▌         | 23/400 [00:50<18:33,  2.95s/it]

(369, 5940)

  6%|▌         | 24/400 [00:53<18:40,  2.98s/it]

(314, 8747)

  6%|▋         | 25/400 [00:57<19:24,  3.10s/it]

(363, 6562)

  6%|▋         | 26/400 [01:00<19:31,  3.13s/it]

(279, 8291)

  7%|▋         | 27/400 [01:04<20:29,  3.30s/it]

(342, 6441)

  7%|▋         | 28/400 [01:07<20:47,  3.35s/it]

(307, 7196)

  7%|▋         | 29/400 [01:11<21:00,  3.40s/it]

(358, 6254)

  8%|▊         | 30/400 [01:14<20:56,  3.40s/it]

(323, 6794)

  8%|▊         | 31/400 [01:18<22:09,  3.60s/it]

(308, 7658)

  8%|▊         | 32/400 [01:23<24:22,  3.98s/it]

(372, 6543)

  8%|▊         | 33/400 [01:27<23:33,  3.85s/it]

(340, 6619)

  8%|▊         | 34/400 [01:30<23:16,  3.82s/it]

(349, 7120)

  9%|▉         | 35/400 [01:34<23:21,  3.84s/it]

(306, 7258)

  9%|▉         | 36/400 [01:38<23:10,  3.82s/it]

(368, 6065)

  9%|▉         | 37/400 [01:42<23:37,  3.90s/it]

(321, 6226)

 10%|▉         | 38/400 [01:46<23:15,  3.85s/it]

(378, 6134)

 10%|▉         | 39/400 [01:50<23:15,  3.87s/it]

(353, 6583)

 10%|█         | 40/400 [01:53<22:57,  3.83s/it]

(326, 6644)

 10%|█         | 41/400 [01:57<23:08,  3.87s/it]

(320, 6447)

 10%|█         | 42/400 [02:01<22:54,  3.84s/it]

(323, 6599)

 11%|█         | 43/400 [02:05<23:20,  3.92s/it]

(382, 6883)

 11%|█         | 44/400 [02:15<34:23,  5.80s/it]

(386, 6304)

 11%|█▏        | 45/400 [02:26<42:24,  7.17s/it]

(303, 7209)

 12%|█▏        | 46/400 [02:32<39:49,  6.75s/it]

(303, 8181)

 12%|█▏        | 47/400 [02:37<36:38,  6.23s/it]

(318, 6759)

 12%|█▏        | 48/400 [02:41<33:43,  5.75s/it]

(361, 6556)

 12%|█▏        | 49/400 [02:46<32:08,  5.49s/it]

(357, 7317)

 12%|█▎        | 50/400 [02:51<31:03,  5.33s/it]

(322, 6956)

 13%|█▎        | 51/400 [02:56<30:42,  5.28s/it]

(360, 6704)

 13%|█▎        | 52/400 [03:01<30:12,  5.21s/it]

(389, 6134)

 13%|█▎        | 53/400 [03:06<29:56,  5.18s/it]

(316, 6804)

 14%|█▎        | 54/400 [03:11<29:24,  5.10s/it]

(297, 7964)

 14%|█▍        | 55/400 [03:17<29:43,  5.17s/it]

(344, 6629)

 14%|█▍        | 56/400 [03:22<29:46,  5.19s/it]

(348, 6304)

 14%|█▍        | 57/400 [03:27<29:29,  5.16s/it]

(369, 6568)

 14%|█▍        | 58/400 [03:33<31:04,  5.45s/it]

(378, 6180)

 15%|█▍        | 59/400 [03:39<32:14,  5.67s/it]

(278, 7676)

 15%|█▌        | 60/400 [03:45<31:52,  5.63s/it]

(443, 6291)

 15%|█▌        | 61/400 [03:50<31:38,  5.60s/it]

(363, 6389)

 16%|█▌        | 62/400 [03:56<31:10,  5.53s/it]

(342, 7084)

 16%|█▌        | 63/400 [04:02<31:28,  5.60s/it]

(387, 6481)

 16%|█▌        | 64/400 [04:07<31:15,  5.58s/it]

(347, 6382)

 16%|█▋        | 65/400 [04:12<30:54,  5.54s/it]

(339, 6637)

 16%|█▋        | 66/400 [04:18<31:12,  5.61s/it]

(359, 6231)

 17%|█▋        | 67/400 [04:24<31:08,  5.61s/it]

(281, 8053)

 17%|█▋        | 68/400 [04:30<31:17,  5.66s/it]

(322, 6542)

 17%|█▋        | 69/400 [04:36<31:47,  5.76s/it]

(360, 6621)

 18%|█▊        | 70/400 [04:43<34:05,  6.20s/it]

(349, 6681)

 18%|█▊        | 71/400 [04:49<33:39,  6.14s/it]

(379, 6485)

 18%|█▊        | 72/400 [04:55<33:36,  6.15s/it]

(284, 7023)

 18%|█▊        | 73/400 [05:01<33:57,  6.23s/it]

(316, 6752)

 18%|█▊        | 74/400 [05:08<33:37,  6.19s/it]

(327, 6116)

 19%|█▉        | 75/400 [05:14<33:12,  6.13s/it]

(388, 6626)

 19%|█▉        | 76/400 [05:20<33:27,  6.20s/it]

(326, 7155)

 19%|█▉        | 77/400 [05:26<33:44,  6.27s/it]

(370, 5907)

 20%|█▉        | 78/400 [05:33<33:47,  6.30s/it]

(331, 7789)

 20%|█▉        | 79/400 [05:40<35:02,  6.55s/it]

(299, 6935)

 20%|██        | 80/400 [05:48<37:14,  6.98s/it]

(332, 7036)

 20%|██        | 81/400 [05:55<37:05,  6.98s/it]

(344, 6181)

 20%|██        | 82/400 [06:01<36:29,  6.89s/it]

(363, 6877)

 21%|██        | 83/400 [06:09<36:37,  6.93s/it]

(363, 6504)

 21%|██        | 84/400 [06:16<36:44,  6.98s/it]

(336, 7261)

 21%|██▏       | 85/400 [06:23<37:01,  7.05s/it]

(352, 6345)

 22%|██▏       | 86/400 [06:30<36:34,  6.99s/it]

(353, 6548)

 22%|██▏       | 87/400 [06:37<37:18,  7.15s/it]

(412, 5782)

 22%|██▏       | 88/400 [06:44<37:05,  7.13s/it]

(346, 6613)

 22%|██▏       | 89/400 [06:53<38:59,  7.52s/it]

(344, 6993)

 22%|██▎       | 90/400 [07:00<38:54,  7.53s/it]

(396, 6752)

 23%|██▎       | 91/400 [07:08<39:04,  7.59s/it]

(360, 7122)

 23%|██▎       | 92/400 [07:15<38:41,  7.54s/it]

(392, 6504)

 23%|██▎       | 93/400 [07:23<38:47,  7.58s/it]

(367, 6409)

 24%|██▎       | 94/400 [07:31<38:33,  7.56s/it]

(358, 6565)

 24%|██▍       | 95/400 [07:38<38:54,  7.65s/it]

(361, 6475)

 24%|██▍       | 96/400 [07:46<38:57,  7.69s/it]

(360, 6866)

 24%|██▍       | 97/400 [07:55<40:01,  7.93s/it]

(362, 6247)

In [ ]:
aux = ratings.pivot_table(index='user_id', columns='movie_id', values='rating',margins = True,aggfunc=len)
aux

In [ ]:
newaux = aux.copy()
newaux = newaux.sort_values(by = 'All', ascending=False)
#aux

In [ ]:
newaux = newaux.sort_values(by = 'All',axis = 1, ascending=False)

In [ ]:
newaux

movie_id,All,2858,260,1196,1210,480,2028,589,2571,1270,...,3290,3277,3779,226,2277,3237,3229,658,3220,1764
user_id,,,,,,,,,,,,,,,,,,,,,
All,1000209,3428.0,2991.0,2990.0,2883.0,2672.0,2653.0,2649.0,2590.0,2583.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
4169,2314,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
1680,1850,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4277,1743,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1941,1595,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
572,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3222,20,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3273,20,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3291,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3021,20,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
aux = newaux.iloc[1:(k_users+1), 1: (k_movies+1)]

In [ ]:
print(aux)

movie_id  2858  260   1196  1210  480   2028  589   2571  1270  593   ...  \
user_id                                                               ...
4169       1.0   1.0   1.0   1.0   1.0   1.0   1.0   1.0   1.0   1.0  ...
1680       1.0   1.0   1.0   1.0   1.0   1.0   1.0   1.0   1.0   1.0  ...
4277       1.0   1.0   1.0   1.0   1.0   1.0   1.0   1.0   1.0   1.0  ...
1941       1.0   1.0   1.0   1.0   1.0   1.0   1.0   1.0   1.0   1.0  ...
1181       1.0   1.0   1.0   1.0   1.0   1.0   1.0   1.0   1.0   1.0  ...
...        ...   ...   ...   ...   ...   ...   ...   ...   ...   ...  ...
3429       1.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
2048       1.0   NaN   NaN   NaN   NaN   1.0   1.0   NaN   NaN   NaN  ...
2049       NaN   NaN   1.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
5199       NaN   NaN   NaN   1.0   1.0   1.0   1.0   NaN   NaN   1.0  ...
5304       1.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   1.0  ...

movie_id  158   373   1013  3153  237   1264  351   107   996   2114
user_id
4169       NaN   1.0   1.0   1.0   1.0   1.0   1.0   NaN   1.0   1.0
1680       1.0   1.0   1.0   1.0   1.0   1.0   1.0   1.0   NaN   1.0
4277       NaN   1.0   NaN   1.0   NaN   1.0   NaN   1.0   NaN   1.0
1941       1.0   NaN   1.0   1.0   NaN   NaN   1.0   1.0   NaN   NaN
1181       NaN   1.0   1.0   NaN   NaN   1.0   NaN   NaN   1.0   1.0
...        ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
3429       NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2048       NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2049       NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
5199       NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
5304       NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN

[5000 rows x 1200 columns]

In [ ]:
#df_unpivoted = newaux.melt(id_vars=['movie_id'], var_name='user_id', value_name='rating')
#df_unpivoted

In [ ]:
list_movies_ids = []
this_many_movies = k_movies
count_movies = 0
for label, content in newaux.items():
  if count_movies >= this_many_movies:
    break
  if label != 'All':
    list_movies_ids.append(label)
    count_movies = count_movies + 1
    #print(f'label: {label}')



list_users_ids = []
this_many_users = k_users
count_users = 0
for index, row in newaux.iterrows():
  #print('index ', index)
  if count_users >= this_many_users:
    break
  if index != 'All':
    list_users_ids.append(index)
    count_users = count_users + 1
    #print(index)

print(len(list_users_ids))
print(len(list_movies_ids))

5000
1200

In [ ]:
print(list_users_ids)
print(list_movies_ids)

[4169, 1680, 4277, 1941, 1181, 889, 3618, 2063, 1150, 1015, 5795, 4344, 1980, 2909, 1449, 4510, 424, 4227, 5831, 3841, 3391, 4508, 1088, 5367, 3808, 549, 1285, 3224, 3539, 4543, 5643, 1448, 752, 3032, 3824, 524, 4448, 4064, 4725, 1010, 5954, 678, 1447, 4447, 2116, 550, 1605, 3526, 1698, 1880, 1912, 3778, 4808, 3292, 4425, 1019, 3507, 3311, 2181, 881, 6016, 2015, 2106, 2820, 5812, 4647, 6036, 710, 4312, 1647, 4979, 2777, 5026, 4386, 2304, 352, 5046, 531, 1676, 1051, 2507, 3163, 3626, 5100, 1958, 3675, 2907, 5394, 5636, 4041, 869, 5333, 1733, 3401, 5614, 3272, 4085, 2665, 3067, 482, 5256, 5788, 3471, 3829, 195, 1383, 3792, 4238, 5627, 2529, 1340, 5111, 1317, 1613, 2857, 216, 1635, 3705, 2793, 302, 3650, 4682, 1837, 4482, 1425, 1737, 839, 1835, 1632, 4083, 4021, 1579, 245, 329, 5074, 3029, 770, 1899, 1117, 1451, 2109, 5880, 4957, 4387, 3999, 1203, 5605, 4140, 1120, 2010, 5387, 3410, 2544, 2092, 3821, 4048, 1422, 3491, 1266, 5433, 5511, 509, 319, 5220, 5312, 2986, 5054, 1264, 3768, 1470, 3308, 1884, 3476, 5916, 3934, 660, 4089, 4728, 1812, 3610, 2878, 984, 4579, 3589, 4305, 4732, 2077, 53, 1354, 3562, 1943, 1112, 4016, 1303, 5763, 699, 543, 202, 3842, 3681, 3336, 3519, 721, 3312, 4033, 3483, 1741, 1897, 5530, 3884, 3280, 1194, 2073, 5015, 731, 4802, 4186, 1671, 4354, 411, 5536, 3823, 5550, 877, 692, 5306, 855, 2453, 1988, 2124, 3285, 3648, 3182, 2962, 1889, 148, 3475, 2934, 4867, 1207, 5888, 1242, 4054, 1780, 1298, 1764, 3929, 1465, 2012, 4411, 3018, 1069, 5682, 123, 3942, 5107, 438, 5878, 1920, 48, 1068, 1496, 3693, 4345, 2887, 149, 5996, 1274, 533, 3885, 1748, 3683, 5504, 5675, 1926, 331, 3724, 2030, 1125, 528, 1224, 5759, 5493, 1246, 3389, 3118, 1675, 1050, 1137, 5747, 1749, 3834, 5501, 173, 4578, 5011, 3320, 3462, 308, 1333, 1611, 2041, 4658, 2537, 850, 1587, 169, 1701, 1639, 3080, 5824, 1599, 5964, 970, 5555, 2484, 4819, 1778, 1983, 5113, 4007, 5329, 1244, 5317, 4408, 1501, 3576, 3261, 2203, 4028, 4506, 2288, 5837, 566, 1962, 3945, 3916, 5686, 2102, 2402, 2419, 4673, 2223, 2967, 4271, 3054, 5738, 192, 3189, 911, 1645, 1377, 2638, 1017, 5522, 1202, 1101, 1974, 4115, 948, 1969, 2105, 4285, 5755, 1727, 163, 1059, 2895, 4771, 780, 461, 2496, 1712, 3836, 5359, 2205, 1260, 4715, 1100, 2860, 3265, 225, 1284, 4948, 802, 854, 6000, 117, 2753, 4607, 1851, 4058, 3129, 777, 3518, 5163, 3031, 4497, 4053, 1667, 2457, 934, 1128, 62, 2376, 4472, 3940, 3425, 3825, 5886, 3503, 4279, 3180, 1489, 5684, 5689, 5070, 1297, 392, 2627, 3641, 3878, 4335, 3108, 5268, 2761, 3371, 272, 1004, 4318, 5539, 264, 4591, 702, 3807, 651, 3892, 2996, 5621, 412, 4950, 3313, 4352, 151, 284, 2020, 2164, 3416, 5289, 4823, 3771, 4879, 3013, 4480, 1141, 4167, 757, 1842, 3590, 1356, 2946, 1584, 1306, 796, 3727, 1861, 5153, 4388, 749, 3469, 4161, 1164, 3963, 2383, 5172, 2643, 588, 3380, 1794, 1628, 4958, 2172, 3992, 4422, 2018, 4042, 3967, 204, 4478, 3201, 2841, 1968, 4381, 1172, 3729, 2237, 2592, 5787, 2088, 2038, 235, 5744, 2743, 5972, 58, 3499, 3569, 2231, 3669, 1883, 5950, 4001, 1752, 4079, 476, 3620, 1758, 1685, 92, 2611, 2244, 3847, 1922, 5005, 2436, 157, 5271, 146, 2899, 746, 1717, 5077, 4489, 963, 442, 4473, 2872, 714, 1776, 4446, 2446, 2279, 4887, 5090, 2928, 355, 669, 187, 4022, 1836, 1586, 3756, 2854, 4517, 3762, 2251, 5580, 655, 999, 1389, 4458, 1329, 5854, 3546, 166, 3769, 2180, 3512, 4784, 5848, 3900, 3051, 3713, 3751, 4055, 5749, 3191, 2380, 3430, 4708, 2188, 1369, 975, 3509, 1530, 4904, 2796, 4653, 673, 4964, 2581, 4088, 5567, 4150, 199, 765, 5000, 10, 696, 3690, 2810, 639, 4258, 4897, 26, 2340, 5978, 5443, 2225, 2737, 1694, 1658, 5948, 817, 2489, 1211, 1666, 2847, 3259, 4213, 1119, 4322, 453, 5131, 1600, 4523, 5779, 4663, 735, 1687, 3716, 1087, 3557, 4156, 5458, 716, 33, 1916, 676, 4786, 1124, 5428, 935, 4884, 5397, 5319, 2918, 3521, 4626, 4217, 587, 5468, 1757, 1322, 5717, 3081, 3850, 3208, 4379, 3679, 3422, 1426, 4490, 1726, 5492, 198, 3621, 326, 2752, 4637, 1146, 4790, 5955, 136, 1001, 637, 2994, 5475, 2888, 5523, 4049, 5482, 4303, 1140, 601, 2098, 5140, 4816, 4404, 624, 5108, 3464, 3600, 4611, 3082, 949, 5042, 1243, 1755, 3971, 4535, 2664, 5722, 4183, 2456, 2168, 1182, 4748, 4116, 3300, 3017, 3547, 338, 3454, 2929, 1279, 3773, 1173, 5039, 2941, 1609, 4126, 3327, 2258, 2129, 3026, 301, 2590, 1058, 3550, 3592, 4995, 5847, 5205, 1998, 929, 3367, 3624, 1697, 5364, 2764, 261, 4666, 3125, 5720, 5754, 2153, 1904, 5448, 3957, 3993, 3411, 4139, 36, 2840, 3217, 4107, 2776, 1624, 5767, 937, 1699, 3746, 4488, 563, 429, 1556, 3365, 1265, 922, 4655, 2926, 1546, 3227, 2679, 5568, 5543, 4796, 6040, 2995, 5519, 3726, 1790, 4253, 1875, 955, 5249, 1034, 4224, 3271, 2567, 6002, 1053, 2807, 2054, 1865, 1273, 5841, 3314, 1147, 2334, 2016, 5345, 4675, 1404, 2242, 5852, 4932, 3985, 2583, 5786, 3709, 2913, 3402, 5890, 2271, 4928, 4972, 4704, 4837, 791, 3603, 5667, 957, 5142, 798, 4250, 2748, 1746, 919, 6007, 2411, 3394, 4375, 3998, 4260, 4502, 1930, 4112, 5371, 3216, 5269, 899, 4829, 3140, 5728, 4062, 3012, 4680, 4406, 2131, 4585, 5450, 368, 5156, 3441, 2896, 5047, 1113, 3887, 4736, 2641, 474, 2232, 4418, 3487, 4086, 3816, 1505, 293, 3423, 175, 6010, 5112, 1820, 3128, 5472, 3760, 3715, 687, 4122, 5698, 3997, 2621, 5161, 2156, 1591, 1696, 1484, 520, 3853, 4635, 5650, 1086, 5517, 631, 271, 4951, 1395, 3833, 3513, 4268, 4124, 3301, 1693, 4009, 1390, 1077, 3859, 3001, 5811, 5961, 1151, 2303, 824, 2100, 5277, 1335, 1457, 3685, 5222, 4981, 1767, 2624, 1592, 3205, 1925, 4568, 3196, 5103, 18, 4470, 3688, 3754, 5273, 23, 3044, 5182, 5091, 4373, 4328, 4788, 3691, 4933, 5615, 3299, 3695, 4562, 5570, 2454, 4918, 5184, 2504, 3735, 181, 4593, 5365, 4026, 3110, 3780, 5282, 2565, 2264, 5634, 3558, 3976, 4888, 5874, 5699, 3453, 2389, 3717, 2900, 2786, 5654, 2211, 22, 161, 4310, 744, 3414, 409, 1301, 45, 2173, 3087, 343, 1509, 3158, 5426, 5087, 996, 1937, 4430, 131, 5794, 4560, 516, 2700, 3412, 2818, 5956, 4287, 2185, 1542, 314, 1860, 1516, 2186, 822, 558, 5283, 3965, 2472, 5576, 4384, 3652, 5250, 2047, 3520, 1121, 4524, 4215, 5762, 5321, 1399, 604, 1793, 2771, 3055, 2478, 5664, 445, 5990, 1418, 5915, 2023, 4869, 5083, 5239, 4520, 4298, 801, 5452, 402, 2781, 1803, 4940, 1272, 5526, 1753, 5198, 2293, 1291, 346, 1984, 4726, 5265, 5300, 2670, 3065, 712, 3654, 1325, 2645, 5185, 5881, 5981, 6035, 5463, 4834, 2731, 403, 1343, 4505, 1891, 1420, 1130, 1434, 1263, 2634, 1184, 4390, 5556, 5412, 2774, 4451, 4261, 4942, 1193, 2576, 1607, 808, 3868, 1714, 242, 3328, 1502, 2880, 5178, 1503, 4484, 2629, 5575, 2085, 3309, 4785, 1626, 6025, 3578, 3121, 415, 4094, 4789, 5645, 5305, 698, 3101, 2323, 5792, 3579, 3718, 5124, 5663, 5096, 1096, 349, 4765, 3393, 454, 4078, 3658, 5600, 5771, 800, 5084, 3770, 5065, 2042, 5002, 2208, 3075, 3946, 5623, 2566, 2826, 4609, 1879, 5347, 3056, 5872, 5553, 2526, 5630, 1142, 3585, 4889, 2990, 1294, 2378, 3910, 2060, 4193, 268, 4600, 5281, 4362, 2050, 3607, 386, 1631, 4337, 366, 5780, 1040, 3561, 1902, 1483, 2195, 1170, 238, 2247, 4946, 2683, 2056, 4356, 1029, 2024, 4060, 2541, 223, 5376, 19, 2148, 1552, 73, 4750, 1616, 6003, 2462, 646, 5604, 4072, 1759, 4956, 1524, 1491, 518, 2059, 846, 1230, 4800, 5488, 1380, 3970, 1466, 1800, 4024, 2506, 1228, 1952, 840, 3651, 5418, 4791, 4742, 727, 5035, 300, 2901, 4754, 4220, 4360, 2824, 5809, 5453, 2011, 5018, 475, 2064, 4207, 5558, 904, 3283, 1854, 5677, 4302, 4865, 5323, 2485, 5585, 139, 5369, 4899, 3490, 5434, 2445, 255, 1392, 4852, 4531, 2261, 3363, 713, 193, 591, 5569, 4906, 5349, 5512, 2691, 4437, 4005, 977, 4204, 1473, 4747, 621, 426, 4898, 4096, 5957, 2756, 3007, 3356, 3159, 4917, 2071, 5302, 629, 5826, 570, 457, 4831, 327, 2263, 2837, 1218, 4729, 3378, 3353, 1255, 2465, 5840, 4821, 781, 1299, 3953, 1179, 6001, 5974, 1472, 3931, 2230, 1168, 2873, 2916, 1643, 720, 556, 2368, 2414, 2265, 5082, 3246, 1641, 3358, 4507, 150, 5922, 647, 5053, 1358, 5599, 4407, 42, 1597, 3961, 5917, 3209, 5765, 2599, 3243, 4521, 2125, 2090, 2051, 3346, 4342, 2676, 2259, 3260, 1617, 1314, 551, 890, 5466, 5653, 2608, 4077, 2029, 4436, 4269, 3529, 981, 4824, 333, 1841, 3689, 4141, 3989, 90, 3588, 2165, 5001, 398, 4014, 5845, 2031, 4592, 774, 2395, 4013, 118, 2931, 1219, 4705, 5838, 891, 2540, 2681, 1882, 1387, 5761, 971, 310, 321, 2167, 4815, 5843, 2110, 5085, 5806, 1209, 2825, 1939, 5483, 1221, 4556, 3420, 1845, 546, 93, 5413, 3167, 2848, 3643, 5620, 3704, 2684, 5561, 5350, 5390, 4656, 1362, 2145, 2222, 4855, 3024, 3400, 2026, 2668, 753, 4953, 3981, 973, 1545, 737, 4962, 3665, 5927, 3612, 2649, 3069, 4343, 1960, 390, 2680, 1806, 5136, 4937, 3504, 5340, 59, 1339, 4779, 1650, 1216, 4980, 3112, 2166, 5287, 3138, 3673, 1928, 5716, 229, 3143, 928, 5980, 5225, 4457, 5234, 3178, 2589, 1367, 4291, 5061, 3563, 3147, 1802, 17, 477, 2765, 3418, 3072, 2219, 3242, 536, 5038, 4509, 5404, 1709, 1706, 5393, 4006, 5659, 451, 303, 1391, 4265, 5008, 5260, 5734, 5597, 2122, 1908, 3732, 2966, 3540, 5896, 1896, 4921, 3720, 1692, 4118, 2233, 3511, 3484, 1606, 5352, 2140, 1186, 1593, 5595, 1722, 2348, 4596, 5908, 2724, 1601, 677, 1109, 3403, 3611, 4984, 2072, 2866, 3988, 4117, 5223, 4661, 5491, 4281, 5158, 224, 4659, 3436, 5193, 3390, 4476, 4605, 3882, 2628, 5099, 4882, 2466, 4090, 2177, 3672, 897, 3625, 3745, 5723, 1807, 2609, 3796, 3864, 1268, 6037, 1890, 3591, 137, 2938, 4643, 15, 4401, 3757, 5733, 4114, 2750, 5858, 2438, 3474, 5857, 5862, 2503, 4286, 5649, 466, 4364, 1497, 2302, 499, 924, 2067, 481, 35, 5, 278, 1873, 5657, 3274, 3370, 337, 2353, 1903, 3096, 5925, 5098, 5344, 4810, 2745, 4861, 6011, 3501, 788, 2685, 5441, 3951, 4801, 3229, 3837, 1695, 2559, 1716, 1261, 1421, 4738, 4452, 816, 2889, 5775, 1736, 1220, 1241, 4774, 4449, 5056, 1033, 2022, 1062, 3930, 44, 5120, 306, 5718, 3195, 2885, 5049, 4363, 3333, 2455, 1074, 927, 295, 2121, 494, 695, 2955, 4922, 4901, 3687, 2868, 2792, 5557, 541, 5960, 5938, 2876, 3193, 858, 3281, 5596, 3450, 4522, 3154, 4621, 1345, 953, 425, 1311, 4959, 1099, 4483, 2344, 2605, 2282, 2215, 3804, 147, 5361, 273, 5963, 4459, 2338, 5535, 5861, 3994, 4377, 4496, 3442, 3827, 4040, 1183, 5995, 1396, 654, 3752, 5021, 1413, 4491, 1598, 5565, 3053, 4907, 3822, 2985, 208, 3428, 5432, 5603, 4977, 5776, 134, 307, 1407, 1495, 3315, 4414, 1139, 5286, 2162, 5679, 1155, 3630, 5355, 5949, 5378, 5278, 690, 1084, 2403, 4467, 1490, 4868, 3574, 1057, 1415, 3093, 230, 1199, 2176, 4934, 620, 3922, 2174, 2119, 5574, 2772, 2751, 5459, 4809, 1996, 462, 5337, 1357, 2008, 5019, 648, 4961, 656, 635, 3290, 3599, 987, 1796, 838, 75, 1655, 732, 1938, 5420, 4662, 1797, 1683, 2255, 4975, 5422, 2178, 1948, 583, 2969, 3615, 5942, 830, 2944, 4194, 4939, 1805, 3434, 3095, 127, 2097, 5538, 5324, 5705, 1543, 2309, 5626, 4471, 396, 2978, 5457, 4793, 4130, 832, 3151, 623, 4329, 498, 2246, 1135, 1894, 5573, 5801, 873, 4577, 2562, 667, 2804, 4890, 4734, 5911, 3860, 3761, 818, 1030, 1321, 2779, 2035, 4916, 3020, 4526, 1271, 1267, 3304, 2968, 2814, 4333, 133, 608, 4438, 767, 3014, 1636, 2175, 718, 4351, 4685, 4699, 4153, 2575, 2972, 3903, 5251, 2952, 372, 4050, 3377, 1097, 5548, 4084, 2127, 3935, 1133, 728, 3806, 2997, 3913, 2002, 4671, 3253, 517, 1300, 1551, 237, 214, 3415, 5524, 590, 5520, 2290, 2458, 4433, 4814, 4416, 939, 966, 3902, 3536, 1544, 5706, 1560, 2120, 1094, 3958, 4854, 34, 3458, 778, 3586, 3493, 5327, 910, 5971, 4456, 3995, 1132, 4223, 4826, 945, 3635, 3538, 575, 2785, 4327, 3858, 5403, 4700, 515, 4681, 2221, 5121, 3203, 5138, 5851, 1640, 3057, 1561, 2659, 3233, 4179, 5086, 3361, 1105, 5386, 1985, 3457, 5593, 4610, 4454, 1442, 2136, 3908, 5029, 5264, 5680, 1724, 2374, 1824, 3473, 2595, 3622, 4234, 4806, 3099, 2451, 3200, 5151, 3894, 6018, 4512, 594, 3157, 1352, 664, 1262, 4152, 577, 5998, 493, 5335, 2784, 1347, 129, 3601, 921, 1870, 2555, 958, 3614, 2730, 3516, 456, 931, 724, 4849, 2832, 4294, 754, 4093, 4334, 3594, 5227, 305, 952, 1853, 408, 3228, 2663, 5437, 4461, 2620, 2206, 513, 1162, 4284, 2919, 5294, 3927, 5752, 1982, 3123, 2849, 4212, 1437, 1312, 1775, 4315, 2084, 1031, 2486, 260, 4573, 2498, 1227, 4289, 97, 4498, 3399, 1978, 5924, 602, 4104, 3240, 5389, 4566, 5769, 4845, 4032, 859, 3524, 190, 4274, 1571, 205, 2316, 3231, 4619, 5853, 1427, 2407, 3564, 4985, 4640, 5625, 5647, 5905, 5547, 4177, 5545, 3955, 1825, 1016, 2572, 3888, 5805, 3266, 706, 3789, 3341, 1954, 4380, 1901, 2114, 5167, 3277, 3022, 3737, 793, 1331, 1134, 5480, 3192, 3696, 2883, 5255, 1152, 5114, 4973, 1690, 2021, 5445, 508, 1648, 3210, 795, 1779, 3230, 743, 3896, 1323, 4615, 2157, 5726, 1370, 4697, 1038, 5253, 3386, 3045, 156, 5893, 4541, 3025, 5531, 5607, 2939, 585, 274, 335, 4511, 4514, 406, 1594, 1947, 2424, 5758, 3002, 1877, 6023, 2091, 4171, 571, 4103, 729, 2179, 1022, 2903, 1223, 2769, 5401, 5676, 985, 1723, 4477, 4018, 5497, 1791, 4203, 3609, 4572, 258, 4460, 2307, 2740, 2393, 3058, 4945, 5598, 1608, 4650, 4965, 2935, 918, 1044, 5102, 5014, 3445, 1281, 2976, 1828, 5920, 1513, 2794, 3349, 3202, 2910, 2351, 4983, 4485, 4644, 1366, 1071, 240, 2870, 711, 4243, 2625, 3074, 1116, 2235, 3219, 1768, 5126, 5947, 3345, 2890, 3677, 5034, 2355, 1206, 4371, 1165, 3763, 2500, 1744, 5430, 3712, 3801, 3331, 78, 4144, 3565, 3481, 685, 3684, 285, 2547, 3678, 8, 2808, 764, 5301, 1348, 2747, 259, 1866, 5770, 4257, 3329, 5678, 4347, 5173, 3477, 5875, 2744, 864, 4718, 380, 2055, 4909, 4415, 829, 2787, 5044, 4580, 1950, 560, 385, 2187, 3213, 4323, 3560, 5516, 11, 3387, 5059, 3197, 2947, 24, 1204, 2980, 2593, 1408, 377, 5582, 2693, 3830, 3697, 1440, 1232, 2688, 5455, 4994, 130, 4070, 2999, 4902, 689, 671, 5424, 2852, 998, 980, 1547, 3664, 5209, 4233, 1856, 2692, 2409, 3741, 1114, 3844, 1361, 5097, 1595, 3793, 3033, 4043, 3889, 436, 2859, 2262, 4309, 3978, 652, 1688, 5641, 6021, 539, 4353, 3171, 435, 705, 1338, 5217, 4620, 4361, 611, 2656, 4132, 2481, 102, 452, 4688, 1021, 5447, 5109, 1127, 4368, 2533, 4242, 267, 4210, 4832, 5232, 940, 1499, 1474, 2190, 5785, 5910, 5616, 2523, 3983, 5594, 5889, 5230, 5246, 5691, 4631, 4601, 4225, 2757, 3555, 2, 1288, 5952, 4099, 2199, 4181, 3721, 4532, 2942, 3169, 1951, 5429, 5326, 2241, 4004, 960, 3799, 1689, 5236, 3596, 4374, 2272, 662, 1514, 5982, 4812, 1078, 5592, 203, 5566, 4121, 739, 3413, 1054, 2921, 4326, 3323, 5139, 4927, 610, 843, 5446, 270, 4645, 2170, 2905, 3435, 810, 3384, 3297, 5341, 3791, 4235, 4162, 755, 5976, 4036, 1532, 954, 5263, 1176, 5661, 4389, 3790, 5025, 3731, 1887, 3742, 4575, 2468, 3638, 4445, 3661, 5366, 569, 2068, 1577, 1328, 5912, 2429, 697, 5658, 5777, 3736, 5900, 339, 3250, 4711, 5219, 5709, 2933, 4378, 1564, 6006, 2788, 2943, 3766, 5490, 3111, 4030, 3226, 5197, 6013, 2974, 5906, 3085, 905, 342, 1817, 2882, 1976, 3974, 4131, 4082, 4237, 6039, 3319, 463, 3135, 309, 2459, 605, 1066, 186, 5406, 4466, 1678, 5683, 4954, 1018, 2790, 3831, 529, 4336, 3517, 4222, 3270, 5797, 2039, 65, 2192, 641, 1079, 1681, 2427, 5885, 107, 823, 2497, 2812, 1159, 5395, 2734, 2096, 3815, 3419, 5208, 4160, 3105, 5118, 5023, 1602, 5502, 2330, 4892, 3004, 3426, 2298, 444, 2161, 5473, 2564, 5986, 5583, 2239, 5169, 496, 2674, 4367, 2017, 4539, 5143, 1843, 3340, 3733, 783, 2025, 5701, 4798, 5624, 31, 5750, 2352, 3819, 1540, 5187, 1169, 2546, 323, 630, 3749, 4134, 1252, 5353, 4133, 3038, 82, 548, 5825, 5702, 2349, 3498, 1630, 849, 733, 5180, 5798, 1871, 787, 2435, 5648, 1320, 4782, 2718, 2719, 376, 5655, 2863, 2897, 5137, 5757, 4870, 3408, 4687, 3777, 2651, 1463, 4795, 1804, 2398, 1430, 3432, 4843, 2350, 862, 5405, 1073, 1498, 5166, 3036, 1819, 1721, 178, 5894, 103, 4552, 880, 6030, 1500, 3698, 789, 2669, 828, 1215, 3874, 505, 5469, 3605, 4830, 4908, 5041, 1122, 3812, 2410, 3871, 5782, 4963, 2491, 638, 2701, 3532, 4098, 736, 5485, 5892, 5518, 2894, 1761, 3086, 5571, 5464, 3914, 3028, 5063, 4272, 4858, 2158, 3263, 5242, 663, 5958, 5233, 3528, 1585, 3996, 1350, 2143, 3364, 1196, 5342, 3556, 5449, 5040, 1831, 4071, 3145, 2803, 876, 3572, 5939, 2321, 3653, 3005, 281, 3183, 4219, 853, 179, 165, 212, 249, 5129, 4561, 1231, 1254, 3444, 4417, 3317, 4780, 210, 2682, 659, 893, 2004, 5076, 5671, 2809, 4409, 5020, 1450, 1393, 2585, 4737, 2898, 5201, 5827, 1115, 1324, 2742, 5929, 1747, 4706, 340, 956, 4034, 5339, 3925, 29, 1464, 13, 644, 2844, 1507, 3832, 504, 419, 3172, 49, 2276, 4589, 2248, 872, 480, 336, 4915, 2648, 2194, 28, 162, 4739, 99, 1492, 1160, 593, 4598, 4606, 9, 5652, 101, 2778, 5272, 1765, 4123, 4735, 1634, 785, 1781, 613, 3000, 262, 3041, 6014, 3010, 471, 5479, 119, 926, 5037, 2027, 3279, 3198, 2101, 3184, 1191, 5736, 530, 2463, 2738, 4252, 2444, 1506, 3489, 2989, 3811, 5823, 1072, 3114, 4813, 4091, 3571, 4382, 4967, 1527, 1863, 3671, 5470, 6032, 299, 5554, 4015, 5338, 3374, 820, 2461, 2070, 4308, 4733, 5646, 2937, 3305, 3543, 5148, 4249, 5261, 4627, 4745, 2270, 1064, 776, 1032, 3904, 534, 3759, 5032, 3923, 1374, 1360, 5865, 2874, 4773, 351, 4670, 666, 287, 1131, 5509, 5211, 691, 1129, 3568, 5532, 4634, 3332, 2846, 3948, 4886, 5638, 1468, 5270, 5408, 1441, 4412, 4794, 291, 220, 3608, 990, 3148, 5322, 5123, 2078, 1949, 4571, 2146, 1198, 2766, 3947, 5937, 2171, 5791, 5081, 3676, 3134, 2144, 5248, 2310, 2266, 4218, 3855, 5183, 5629, 2689, 3619, 3912, 2801, 500, 3898, 2736, 183, 4195, 1525, 1481, 2795, 2212, 5177, 5707, 3891, 4905, 2754, 4828, 595, 2406, 2975, 523, 38, 5871, 5688, 4875, 1063, 5708, 4168, 2699, 3515, 3505, 3199, 3206, 4947, 3334, 4952, 2654, 348, 4299, 2320, 4772, 4051, 1833, 1567, 3207, 5985, 3083, 95, 347, 83, 5165, 884, 2240, 413, 5714, 1589, 5064, 2733, 5318, 510, 4190, 2661, 63, 1494, 5618, 1858, 4499, 265, 4241, 3917, 772, 5368, 930, 2000, 3267, 5423, 5105, 114, 537, 715, 4757, 2573, 296, 3486, 5601, 5257, 1917, 3368, 174, 552, 4251, 231, 5724, 3582, 1458, 1446, 759, 3294, 3979, 3211, 5310, 1195, 4930, 1359, 2335, 3659, 4313, 155, 5016, 2079, 40, 2147, 2163, 887, 1067, 4292, 959, 3352, 4746, 410, 4101, 2404, 2236, 5134, 5128, 3173, 6024, 1743, 5267, 5275, 256, 915, 4877, 4066, 2089, 4674, 1161, 4862, 4148, 5241, 2666, 809, 3142, 3938, 2594, 615, 5766, 5930, 4311, 2058, 5451, 1287, 1376, 2789, 1248, 2550, 2892, 479, 1315, 5946, 5790, 658, 3775, 2619, 5704, 3646, 1538, 3098, 439, 1992, 3417, 263, 812, 3975, 3533, 2865, 1005, 4841, 5402, 4245, 4817, 5362, 5619, 1523, 3011, 4807, 5505, 4175, 111, 3497, 2703, 1342, 3262, 5438, 2043, 3973, 5730, 1511, 1618, 4306, 1035, 1799, 967, 3886, 3835, 4686, 3663, 5953, 2600, 3674, 2800, 3682, 5969, 2749, 5157, 5751, 1185, 3185, 3066, 670, 3479, 1569, 4893, 344, 3525, 2439, 232, 2953, 2005, 3119, 2126, 506, 3439, 1138, 6019, 1149, 5188, 4221, 275, 297, 5419, 2842, 2853, 1308, 132, 1770, 2492, 1433, 4102, 4127, 5668, 5048, 2631, 2103, 2324, 1961, 4555, 5431, 3662, 1020, 4567, 3711, 1707, 1065, 3433, 6005, 4280, 936, 3839, 2727, 2805, 1467, 1239, 5833, 2062, 2238, 5313, 369, 1519, 1999, 5813, 170, 2118, 1341, 76, 5902, 201, 4023, 2881, 2886, 3551, 3175, 792, 3174, 4403, 1839, 4678, 3639, 1931, 2493, 3302, 3359, 4557, 3851, 4465, 1995, 1924, 81, 5622, 4569, 636, 3602, 5844, 218, 116, 2862, 5613, 1895, 3079, 1041, 5687, 4137, 4440, 3990, 2501, 3866, 5460, 5737, 3116, 3968, 5050, 1921, 3452, 3155, 4468, 3447, 25, 1205, 244, 1705, 1637, 2830, 4248, 5991, 5496, 1304, 5578, 875, 184, 1000, 3321, 2726, 844, 2723, 1563, 2254, 3248, 3460, 3470, 4518, 4020, 431, 1409, 5715, 3701, 2773, 1963, 4170, 1972, 797, 4581, 5712, 2993, 4080, 5226, 2076, 1855, 1878, 5753, 2428, 3339, 3269, 2046, 182, 4835, 464, 4276, 3162, 679, 2617, 5746, 4551, 1679, 701, 3982, 1386, 4180, 5560, 709, 5887, 4613, 2817, 3854, 2214, 5060, 3126, 5071, 3337, 4320, 391, 943, 4359, 5427, 544, 4625, 3257, 4911, 3881, 2811, 6026, 3052, 5396, 2371, 748, 4633, 725, 4450, 1673, 5254, 3905, 4833, 4717, 96, 109, 861, 2768, 4443, 2802, 4444, 3438, 4654, 3035, 4067, 2570, 5494, 1702, 110, 222, 4931, 2552, 5196, 1060, 5421, 1423, 2013, 5331, 2806, 3245, 4856, 5414, 5484, 5631, 882, 1475, 3656, 5988, 1555, 3003, 674, 5860, 514, 1177, 52, 1710, 4998, 5815, 1946, 1932, 3084, 5994, 547, 5832, 3077, 3577, 5891, 1739, 3706, 1522, 3848, 1410, 582, 3237, 920, 964, 5540, 1107, 401, 3909, 983, 2715, 1055, 176, 5884, 371, 5913, 4534, 2281, 1735, 3924, 3362, 5903, 3873, 4029, 965, 5989, 5024, 3150, 5135, 3131, 490, 2142, 5931, 1850, 3531, 2305, 4989, 5710, 2561, 2342, 2798, 316, 5276, 1276

In [ ]:



#aux = aux[aux.count(axis=1) > 20]
#newy = aux.copy()
#dropcolumns_aux = []
#for column in newy.columns:
  #print(column) 
#  if aux[column].count() <= 20: 
 #   aux=aux.drop(column, axis=1) 
 #   dropcolumns_aux.append(column)
 ##   print("Print ", column)
#
#print(dropcolumns_aux)

In [ ]:
#aux.shape

Salvando na lista

In [ ]:
#list_1_to_k = list(range(1,k_movies+1))
#print(list_1_to_k)

#list_1_to_k_users =  list(range(1,k_users+1))
#print(list_1_to_k_users)

In [ ]:
sub_ratings = ratings.loc[ratings['movie_id'].isin(list_movies_ids) & ratings['user_id'].isin(list_users_ids)]
sub_ratings

         user_id  movie_id  rating  timestamp
0              1      1193       5  978300760
1              1       661       3  978302109
2              1       914       3  978301968
3              1      3408       4  978300275
4              1      2355       5  978824291
...          ...       ...     ...        ...
1000204     6040      1091       1  956716541
1000205     6040      1094       5  956704887
1000206     6040       562       5  956704746
1000207     6040      1096       4  956715648
1000208     6040      1097       4  956715569

[781268 rows x 4 columns]

In [ ]:
print(list_users_ids.index(5))
print(list_users_ids.index(6040))

1598
778

In [ ]:
np.array(list_users_ids)

array([4169, 1680, 4277, ..., 2049, 5199, 5304])

continuando aiai

In [ ]:
sub_ratings.user_id = pd.Categorical(sub_ratings.user_id,categories=np.array(list_users_ids), ordered=True)
sub_ratings.movie_id = pd.Categorical(sub_ratings.movie_id,categories=np.array(list_movies_ids), ordered=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [ ]:
sub_ratings = sub_ratings.sort_values(["user_id","movie_id"])
sub_ratings

       user_id movie_id  rating  timestamp
696165    4169     2858       5  965334088
696093    4169      260       5  965692994
696329    4169     1196       5  965693112
696829    4169     1210       5  968798481
697341    4169      480       5  973310869
...        ...      ...     ...        ...
877637    5304     3185       4  960949295
877644    5304     3952       4  985130985
877650    5304     3618       3  964649149
877647    5304     3243       1  960949043
877645    5304     1280       4  964649424

[781268 rows x 4 columns]

In [ ]:
training_data = sub_ratings
#training_data = sub_ratings.sample(n = (sub_ratings.shape[0] - 30), random_state=25)
#testing_data = sub_ratings.drop(training_data.index)
#print(training_data.shape)
#print(testing_data.shape)

In [ ]:
#testing_data

In [ ]:
#aux.columns

In [ ]:
v = training_data.pivot_table(index='user_id', columns='movie_id', values='rating')
##v = aux
##v.sort_index(axis=0,ascending=True)
v

movie_id,2858,260,1196,1210,480,2028,589,2571,1270,593,...,158,373,1013,3153,237,1264,351,107,996,2114
user_id,,,,,,,,,,,,,,,,,,,,,
4169,5.0,5.0,5.0,5.0,5.0,5.0,4.0,4.0,4.0,5.0,...,NaN,4.0,4.0,3.0,3.0,4.0,4.0,NaN,3.0,4.0
1680,5.0,2.0,5.0,3.0,5.0,5.0,5.0,3.0,3.0,5.0,...,3.0,5.0,3.0,5.0,2.0,4.0,2.0,4.0,NaN,3.0
4277,5.0,5.0,5.0,4.0,5.0,5.0,5.0,5.0,5.0,5.0,...,NaN,4.0,NaN,4.0,NaN,4.0,NaN,3.0,NaN,4.0
1941,1.0,5.0,5.0,5.0,5.0,5.0,3.0,3.0,5.0,5.0,...,3.0,NaN,5.0,3.0,NaN,NaN,4.0,4.0,NaN,NaN
1181,3.0,4.0,4.0,3.0,2.0,4.0,5.0,5.0,3.0,3.0,...,NaN,3.0,3.0,NaN,NaN,3.0,NaN,NaN,2.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3429,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2048,4.0,NaN,NaN,NaN,NaN,5.0,5.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2049,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5199,NaN,NaN,NaN,4.0,4.0,5.0,2.0,NaN,NaN,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5304,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
v.shape

(5000, 1200)

In [ ]:
#retirando usuarios com poucas respostas
v = v[v.count(axis=1) > 1]
#v = v.drop(df.index[[1,3]])

In [ ]:
v.count(axis=0)

movie_id
2858    1368
260     1408
1196    1485
1210    1344
480     1340
        ...
1264     183
351      197
107      192
996      211
2114     222
Length: 1200, dtype: int64

In [ ]:
v.shape

(1800, 1200)

In [ ]:
#retirando filmes com poucas avaliacoes
newv=v.copy()
dropcolumnsmovies = []
for column in newv.columns:
  #print(column) 
  if v[column].count() <= 1: 
    v=v.drop(column, axis=1) 
    dropcolumnsmovies.append(column)
    print("Print ", column)

print(dropcolumnsmovies)

[]

In [ ]:
max(v.count(axis='columns'))

1027

In [ ]:
v.shape

(5000, 1200)

In [ ]:
 #dropcolumnsmovies.append(column)

In [ ]:
#achando usuario c mts avaliacoes (no caso de agora foi o usuario 48 o primeiro encontrado)
user_for_test = v.loc[v.count(axis='columns') >= max(v.count(axis='columns'))].index[0]

print(user_for_test)
#vou escolher o usuario 48

4169

In [ ]:
number_of_ratings_from_user_with_most_ratings = v.loc[user_for_test,].count() # max(v.count(axis='columns'))
user_with_most_rating = v.loc[ v.count(axis='columns') == number_of_ratings_from_user_with_most_ratings].index.tolist()
print( 'number_of_ratings_from_user_with_most_ratings', v.loc[user_for_test,].count())#max(v.count(axis='columns')))
print(user_with_most_rating[0]) #so tem um valor na lista

number_of_ratings_from_user_with_most_ratings 1027
4169

In [ ]:
v.loc[user_with_most_rating[0],]

movie_id
2858    5.0
260     5.0
1196    5.0
1210    5.0
480     5.0
       ...
1264    4.0
351     4.0
107     NaN
996     3.0
2114    4.0
Name: 4169, Length: 1200, dtype: float64

In [ ]:

#v.loc[user_with_most_rating[0],3949]

In [ ]:

#testing = pd.DataFrame(columns = ['user_id','movie_id','rating'])
#testing.append({'user_id':'1','movie_id':'1','rating':'5'},ignore_index=True)

In [ ]:
### Essa funcao basicamente separa um conjunto teste
# ela pega um usuario (que no meu caso é o que mais tem avaliacao)
# e pega dele 30 filmes q ele ja avaliou
# os 30 filmes pegos, eu retiro da matrix de training original
#agora só falta salvar o conjunto teste em um arquivo

import math
import random

testing = pd.DataFrame(columns = ['user_id','movie_id','rating'])

valued =  user_with_most_rating[0]
print(valued)
for colname,colval in v.loc[user_with_most_rating[0]].iteritems():
  if(math.isnan(colval) == False):
    
    testing = testing.append({'user_id':str(valued),'movie_id':str(colname),'rating':str(colval)},ignore_index=True)
    #testing = testing.append([user_with_most_rating[0],colname,colval])
    #print(colname, colval)

#print(testing)

n_rows = testing.shape[0]
newtesting = pd.DataFrame(columns = ['user_id','movie_id','rating'])
count = 30
i = 0
for index,row in testing.iterrows():
  if count == 0:
    break
  #print("current: ")
  #print(row['movie_id'])
  #print(v.loc[user_with_most_rating[0],])
  i = i +1
  if count >= 0 & i >= (n_rows-30):
    #training_data = training_data.drop(training_data[training_data['movie_id'] == 
                          
    v.loc[ user_with_most_rating[0],int(row['movie_id']) ] = np.nan
    newtesting = newtesting.append({'user_id':row['user_id'],'movie_id':row['movie_id'],
                                   'rating':row['rating']},ignore_index=True)
    
    count = count - 1
  else:  
    num1 = random.randint(0, 11)
    if(num1%2 == 0) & count >= 0:
     # print(training_data.iloc[(training_data['movie_id'] == row['movie_id'])])
      #training_data = training_data.drop(training_data.loc[(training_data['movie_id'] == row['movie_id']) & (training_data['user_id'] == row['user_id'])].index,inplace=True)
      #print('antes ',v.loc[user_with_most_rating[0],int(row['movie_id'])])
      v.loc[user_with_most_rating[0],int(row['movie_id'])] = np.nan
      #print('depois ',v.loc[user_with_most_rating[0],int(row['movie_id'])])
      newtesting = newtesting.append({'user_id':row['user_id'],'movie_id':row['movie_id'],
                                   'rating':row['rating']},ignore_index=True)
    
     
      count = count - 1
      
    else:#if (num1%2 != 0):
      print('entrou aqui')
      

print(newtesting)
testing_data = newtesting

4169
   user_id movie_id rating
0     4169     2858    5.0
1     4169      260    5.0
2     4169     1196    5.0
3     4169     1210    5.0
4     4169      480    5.0
5     4169     2028    5.0
6     4169      589    4.0
7     4169     2571    4.0
8     4169     1270    4.0
9     4169      593    5.0
10    4169     1580    4.0
11    4169     1198    5.0
12    4169      608    5.0
13    4169     2762    5.0
14    4169      110    4.0
15    4169     2396    5.0
16    4169     1197    3.0
17    4169      527    5.0
18    4169     1617    5.0
19    4169     1265    5.0
20    4169     1097    5.0
21    4169     2628    4.0
22    4169     2997    5.0
23    4169      318    3.0
24    4169      858    5.0
25    4169      356    3.0
26    4169     2716    3.0
27    4169      296    5.0
28    4169     1240    4.0
29    4169     1214    4.0

In [ ]:
v.shape

(1800, 1200)

In [ ]:
v.count(axis=0)

movie_id
1       1154
2        525
3        348
5        240
6        652
        ...
3917     181
3927     215
3948     479
3949     217
3952     233
Length: 1200, dtype: int64

In [ ]:
#v[v.count(axis=0) ]

In [ ]:
v[v.count(axis=1) <= 1]

Empty DataFrame
Columns: [2858, 260, 1196, 1210, 480, 2028, 589, 2571, 1270, 593, 1580, 1198, 608, 2762, 110, 2396, 1197, 527, 1617, 1265, 1097, 2628, 2997, 318, 858, 356, 2716, 296, 1240, 1, 1214, 2916, 457, 3578, 1200, 541, 2987, 1259, 50, 34, 2791, 780, 3175, 1193, 919, 924, 1127, 2355, 1387, 1221, 912, 1036, 1213, 1610, 377, 1291, 2000, 1136, 3114, 1307, 1704, 1721, 1968, 648, 2599, 32, 3793, 2174, 2797, 2291, 2918, 3471, 590, 2959, 1374, 2683, 1394, 592, 1784, 1573, 1304, 3418, 223, 380, 2706, 1584, 1225, 1527, 3481, 1923, 2699, 750, 39, 21, 1393, 2804, 588, 2406, 1220, 733, ...]
Index: []

[0 rows x 1200 columns]

In [ ]:
v

movie_id  1     2     3     5     6     ...  3917  3927  3948  3949  3952
user_id                                 ...
5          NaN   NaN   NaN   NaN   2.0  ...   NaN   NaN   NaN   NaN   NaN
10         5.0   5.0   NaN   NaN   NaN  ...   NaN   NaN   4.0   NaN   NaN
15         NaN   NaN   NaN   NaN   4.0  ...   NaN   NaN   3.0   NaN   NaN
17         NaN   NaN   NaN   NaN   NaN  ...   NaN   4.0   NaN   NaN   NaN
18         4.0   2.0   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN
...        ...   ...   ...   ...   ...  ...   ...   ...   ...   ...   ...
6025       5.0   NaN   3.0   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN
6035       4.0   NaN   1.0   1.0   NaN  ...   NaN   NaN   NaN   NaN   NaN
6036       NaN   NaN   NaN   NaN   3.0  ...   NaN   NaN   NaN   NaN   NaN
6037       NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN
6040       3.0   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN

[1800 rows x 1200 columns]

In [ ]:
k_movies = v.shape[1]
k_users = v.shape[0]
foldername = str(k_movies) + "movies_"+ str(k_users) + "users_sorted"
print(foldername)

1200movies_5000users_sorted

In [ ]:
import os

os.mkdir("/content/drive/MyDrive/Sistemas de Recomendação/Projeto2/Versão2/"+ foldername)

In [ ]:
name_file = "/content/drive/MyDrive/Sistemas de Recomendação/Projeto2/Versão2/"+ foldername + "/training_subdat_" + str(k_movies) + "movies_" + str(k_users) + "users_sorted.csv"

v.to_csv(name_file, index=False)

In [ ]:
name_file_testing = "/content/drive/MyDrive/Sistemas de Recomendação/Projeto2/Versão2/" + foldername + "/testing_data_" + str(k_movies) + "movies_" + str(k_users) + "users_sorted.csv"

testing_data.to_csv(name_file_testing, index=False)

# Q

In [ ]:
movies_path = "/content/drive/MyDrive/Sistemas de Recomendação/Projeto2/Versão2/movies.dat"
movies = pd.read_csv(movies_path, names=["movie_id","movie_title", "genre"], sep='::',encoding="ISO-8859-1")
movies

/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  return func(*args, **kwargs)

,movie_id,movie_title,genre
0,1,Toy Story (1995),Animation|Children's|Comedy
1,2,Jumanji (1995),Adventure|Children's|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
3878,3948,Meet the Parents (2000),Comedy
3879,3949,Requiem for a Dream (2000),Drama
3880,3950,Tigerland (2000),Drama
3881,3951,Two Family House (2000),Drama
3882,3952,"Contender, The (2000)",Drama|Thriller

In [ ]:
list_movies_ids

[2858,
 260,
 1196,
 1210,
 480,
 2028,
 589,
 2571,
 1270,
 593,
 1580,
 1198,
 608,
 2762,
 110,
 2396,
 1197,
 527,
 1617,
 1265,
 1097,
 2628,
 2997,
 318,
 858,
 356,
 2716,
 296,
 1240,
 1,
 1214,
 2916,
 457,
 3578,
 1200,
 541,
 2987,
 1259,
 50,
 34,
 2791,
 780,
 3175,
 1193,
 919,
 924,
 1127,
 2355,
 1387,
 1221,
 912,
 1036,
 1213,
 1610,
 377,
 1291,
 2000,
 1136,
 3114,
 1307,
 1704,
 1721,
 1968,
 648,
 2599,
 32,
 3793,
 2174,
 2797,
 2291,
 2918,
 3471,
 590,
 2959,
 1374,
 2683,
 1394,
 592,
 1784,
 1573,
 1304,
 3418,
 223,
 380,
 2706,
 1584,
 1225,
 1527,
 3481,
 1923,
 2699,
 750,
 39,
 21,
 1393,
 2804,
 588,
 2406,
 1220,
 733,
 1230,
 3176,
 1961,
 3751,
 1079,
 908,
 3408,
 3623,
 1073,
 1356,
 3527,
 2700,
 1219,
 1247,
 1089,
 1544,
 1222,
 150,
 111,
 3753,
 2710,
 357,
 2657,
 1094,
 2985,
 1206,
 2640,
 3147,
 2395,
 3421,
 1517,
 1641,
 1278,
 1252,
 367,
 1358,
 1208,
 1676,
 2100,
 2529,
 2321,
 2011,
 920,
 2324,
 2012,
 1090,
 47,
 1500,
 1370,
 1954,
 1673,
 2115,
 2194,
 1376,
 587,
 364,
 3253,
 3671,
 1288,
 923,
 316,
 3160,
 1242,
 1917,
 736,
 3255,
 1294,
 1732,
 3361,
 1396,
 2763,
 1258,
 2302,
 3448,
 1653,
 1608,
 1391,
 2692,
 2455,
 3702,
 3081,
 2268,
 595,
 349,
 969,
 3256,
 904,
 1234,
 1674,
 597,
 2054,
 913,
 2081,
 3703,
 11,
 1377,
 2890,
 3755,
 1028,
 2001,
 2968,
 1101,
 2617,
 2407,
 1682,
 1233,
 1372,
 1266,
 1909,
 551,
 3897,
 3363,
 329,
 1183,
 3052,
 2353,
 539,
 2006,
 3072,
 25,
 2289,
 1408,
 474,
 2105,
 3552,
 1639,
 1552,
 440,
 788,
 1215,
 3108,
 2712,
 1282,
 6,
 2336,
 1250,
 2746,
 2770,
 1276,
 1207,
 36,
 1375,
 235,
 1080,
 1320,
 293,
 70,
 2248,
 1199,
 2470,
 1777,
 3555,
 1912,
 1747,
 903,
 2701,
 3033,
 2947,
 1876,
 10,
 1407,
 3210,
 1997,
 1179,
 1129,
 3006,
 3499,
 1148,
 1035,
 1625,
 1748,
 3174,
 2502,
 3107,
 3699,
 2080,
 3082,
 3948,
 1722,
 3608,
 1953,
 1246,
 2723,
 2915,
 2908,
 2641,
 2369,
 3039,
 3543,
 500,
 2424,
 2352,
 17,
 910,
 1204,
 1645,
 2108,
 165,
 454,
 1201,
 3510,
 1569,
 3809,
 1380,
 3526,
 1597,
 3450,
 2167,
 2393,
 2278,
 1285,
 2427,
 2193,
 2002,
 3101,
 368,
 2058,
 2064,
 1994,
 3354,
 1371,
 2694,
 3624,
 2243,
 2021,
 1060,
 2881,
 3424,
 2671,
 1690,
 153,
 2605,
 2003,
 2023,
 2490,
 2020,
 265,
 2948,
 1302,
 344,
 1267,
 3104,
 3362,
 785,
 594,
 1947,
 161,
 3386,
 2366,
 1513,
 1965,
 778,
 1092,
 899,
 1231,
 2826,
 2391,
 1077,
 3396,
 2872,
 1275,
 2288,
 1663,
 253,
 2094,
 353,
 1333,
 292,
 1249,
 1299,
 3698,
 2871,
 953,
 1729,
 2580,
 3704,
 3489,
 529,
 2144,
 1466,
 1244,
 2005,
 246,
 968,
 2124,
 2160,
 3148,
 2140,
 2944,
 266,
 300,
 1287,
 2359,
 2,
 3763,
 1263,
 288,
 2572,
 2161,
 1235,
 1262,
 2150,
 337,
 2145,
 3868,
 2688,
 3504,
 1088,
 1343,
 434,
 1084,
 16,
 543,
 141,
 104,
 3105,
 1093,
 708,
 1228,
 1188,
 902,
 586,
 2761,
 2405,
 339,
 1269,
 1339,
 1293,
 1918,
 3476,
 3263,
 1831,
 497,
 3247,
 1485,
 1883,
 2078,
 1952,
 231,
 555,
 2300,
 3863,
 3911,
 745,
 2076,
 3638,
 1962,
 208,
 2724,
 2949,
 1272,
 2294,
 441,
 3697,
 317,
 2329,
 3005,
 442,
 95,
 2527,
 914,
 1960,
 2707,
 1957,
 800,
 3535,
 3591,
 3683,
 2664,
 2019,
 1711,
 2273,
 1959,
 2528,
 1805,
 3257,
 2542,
 24,
 2581,
 2616,
 3100,
 2013,
 610,
 1203,
 2539,
 1037,
 852,
 1172,
 1921,
 3785,
 1373,
 653,
 2433,
 3070,
 509,
 1885,
 1562,
 198,
 3301,
 471,
 2371,
 2722,
 2087,
 1256,
 1271,
 1292,
 3037,
 3360,
 3298,
 2018,
 2501,
 3717,
 3740,
 2686,
 3044,
 898,
 2394,
 2333,
 3273,
 1022,
 1019,
 466,
 2109,
 1587,
 866,
 1095,
 112,
 185,
 2478,
 1029,
 1345,
 2085,
 160,
 2717,
 2662,
 832,
 3113,
 173,
 2067,
 1479,
 673,
 1186,
 1378,
 508,
 3752,
 1296,
 2541,
 3893,
 1253,
 3060,
 2792,
 1586,
 2976,
 3252,
 151,
 1967,
 553,
 3435,
 196,
 2795,
 1321,
 1357,
 3098,
 1261,
 3685,
 45,
 3300,
 3614,
 3479,
 1779,
 2133,
 62,
 1284,
 163,
 2046,
 3745,
 3438,
 3524,
 435,
 2598,
 1958,
 552,
 1042,
 1911,
 1032,
 661,
 3020,
 2384,
 2951,
 3095,
 3157,
 3359,
 1945,
 342,
 2863,
 3087,
 2423,
 350,
 1248,
 2245,
 2428,
 3264,
 2642,
 2096,
 849,
 2134,
 3178,
 1635,
 1956,
 2469,
 1982,
 3534,
 2917,
 3701,
 3654,
 58,
 838,
 485,
 1882,
 1476,
 596,
 1590,
 3203,
 2137,
 3317,
 3735,
 2126,
 1834,
 2986,
 2420,
 1589,
 162,
 1907,
 3536,
 3635,
 2841,
 628,
 3168,
 1104,
 3267,
 3173,
 2186,
 1441,
 1212,
 2454,
 3260,
 2065,
 1059,
 3,
 562,
 3827,
 3269,
 247,
 2421,
 2719,
 524,
 3441,
 1591,
 1644,
 2463,
 1405,
 3246,
 2431,
 1041,
 1678,
 2912,
 1223,
 1257,
 1894,
 2088,
 1694,
 922,
 2311,
 345,
 1566,
 2734,
 1680,
 3798,
 2533,
 410,
 1449,
 3639,
 3334,
 1385,
 786,
 2973,
 3409,
 2735,
 172,
 7,
 2313,
 671,
 1120,
 348,
 1717,
 3512,
 3730,
 1185,
 1254,
 3159,
 1274,
 1955,
 1347,
 2788,
 1049,
 180,
 2739,
 515,
 994,
 3468,
 1792,
 2805,
 3706,
 3219,
 3016,
 3358,
 930,
 2409,
 2926,
 2413,
 933,
 3545,
 2687,
 1297,
 647,
 2253,
 720,
 2116,
 3274,
 3916,
 379,
 3791,
 1047,
 1081,
 2450,
 144,
 3254,
 52,
 3186,
 3869,
 2759,
 3261,
 2966,
 1614,
 372,
 802,
 1224,
 2728,
 2989,
 916,
 3285,
 2991,
 2009,
 3744,
 3035,
 2713,
 1100,
 2335,
 3513,
 3617,
 2840,
 2375,
 585,
 303,
 909,
 748,
 494,
 724,
 3019,
 2125,
 1171,
 2622,
 2471,
 3686,
 2378,
 955,
 370,
 2600,
 2485,
 333,
 1350,
 3844,
 1135,
 2648,
 3826,
 1124,
 2141,
 2993,
 1283,
 29,
 926,
 3259,
 1103,
 2410,
 1892,
 2402,
 3551,
 2857,
 1499,
 3185,
 2403,
 951,
 1616,
 1620,
 2702,
 3196,
 3083,
 1020,
 432,
 1409,
 1801,
 2672,
 2919,
 783,
 2690,
 532,
 3507,
 19,
 3952,
 1754,
 2010,
 1298,
 1888,
 105,
 928,
 674,
 2334,
 224,
 1125,
 2990,
 2794,
 784,
 3156,
 272,
 954,
 2718,
 48,
 517,
 1411,
 2053,
 1719,
 2015,
 1459,
 3705,
 2398,
 1086,
 2414,
 164,
 3068,
 940,
 22,
 3836,
 2808,
 2411,
 1061,
 520,
 2468,
 905,
 1301,
 1091,
 2720,
 2565,
 2004,
 1914,
 1078,
 2301,
 1388,
 2139,
 1379,
 431,
 3618,
 1175,
 1556,
 2110,
 252,
 3250,
 1835,
 3508,
 2247,
 3712,
 2530,
 915,
 1944,
 1920,
 1367,
 2118,
 1277,
 2942,
 145,
 168,
 1619,
 1344,
 2082,
 3811,
 3525,
 2496,
 3201,
 327,
 3397,
 3684,
 2532,
 1245,
 60,
 1217,
 2747,
 3088,
 3668,
 2143,
 3505,
 1327,
 2297,
 216,
 2416,
 1916,
 2861,
 3152,
 1518,
 3067,
 1810,
 3633,
 3461,
 420,
 2146,
 3062,
 1238,
 1693,
 376,
 1537,
 468,
 3451,
 546,
 230,
 3927,
 1603,
 1950,
 2950,
 232,
 514,
 2803,
 2112,
 2231,
 2779,
 3615,
 3000,
 2340,
 1096,
 805,
 1027,
 900,
 2474,
 3034,
 3593,
 2953,
 2995,
 3398,
 3053,
 3249,
 3688,
 3258,
 531,
 799,
 3770,
 1334,
 1687,
 492,
 306,
 3155,
 2643,
 2312,
 3452,
 2390,
 2901,
 1300,
 222,
 3271,
 3556,
 2827,
 3265,
 3071,
 236,
 2262,
 1243,
 3681,
 2376,
 3198,
 2303,
 880,
 2467,
 1030,
 3244,
 1438,
 170,
 3528,
 1672,
 3494,
 2318,
 1031,
 2819,
 1769,
 69,
 ...]

In [ ]:

list_movies_ids_sorted = list_movies_ids.copy()
list_movies_ids_sorted.sort()
print(list_movies_ids_sorted)

[1, 2, 3, 5, 6, 7, 10, 11, 16, 17, 19, 21, 22, 24, 25, 29, 32, 34, 36, 39, 44, 45, 47, 48, 50, 52, 58, 60, 62, 69, 70, 95, 104, 105, 107, 110, 111, 112, 125, 141, 144, 145, 150, 151, 153, 158, 160, 161, 162, 163, 164, 165, 168, 170, 172, 173, 180, 185, 196, 198, 208, 216, 222, 223, 224, 230, 231, 232, 235, 236, 237, 246, 247, 249, 252, 253, 260, 261, 265, 266, 272, 288, 292, 293, 296, 300, 303, 306, 314, 316, 317, 318, 319, 327, 329, 333, 337, 339, 342, 344, 345, 348, 349, 350, 351, 353, 355, 356, 357, 361, 364, 367, 368, 370, 372, 373, 376, 377, 379, 380, 382, 383, 410, 412, 420, 426, 428, 431, 432, 434, 435, 440, 441, 442, 454, 455, 457, 466, 468, 471, 474, 475, 480, 481, 485, 492, 493, 494, 497, 500, 507, 508, 509, 514, 515, 517, 520, 524, 527, 529, 531, 532, 534, 535, 538, 539, 541, 543, 546, 551, 552, 553, 555, 562, 585, 586, 587, 588, 589, 590, 592, 593, 594, 595, 596, 597, 599, 608, 610, 616, 628, 647, 648, 653, 661, 663, 671, 673, 674, 678, 707, 708, 720, 724, 733, 736, 737, 741, 745, 748, 750, 762, 778, 780, 783, 784, 785, 786, 788, 799, 800, 802, 805, 830, 832, 838, 849, 852, 858, 861, 866, 880, 898, 899, 900, 902, 903, 904, 905, 908, 909, 910, 911, 912, 913, 914, 915, 916, 919, 920, 921, 922, 923, 924, 926, 928, 930, 933, 934, 940, 942, 950, 951, 952, 953, 954, 955, 968, 969, 971, 994, 996, 999, 1009, 1012, 1013, 1017, 1019, 1020, 1022, 1025, 1027, 1028, 1029, 1030, 1031, 1032, 1033, 1035, 1036, 1037, 1041, 1042, 1047, 1049, 1057, 1059, 1060, 1061, 1073, 1077, 1078, 1079, 1080, 1081, 1084, 1086, 1088, 1089, 1090, 1091, 1092, 1093, 1094, 1095, 1096, 1097, 1100, 1101, 1103, 1104, 1120, 1124, 1125, 1126, 1127, 1129, 1135, 1136, 1147, 1148, 1171, 1172, 1175, 1179, 1183, 1185, 1186, 1188, 1189, 1193, 1196, 1197, 1198, 1199, 1200, 1201, 1203, 1204, 1206, 1207, 1208, 1210, 1212, 1213, 1214, 1215, 1217, 1219, 1220, 1221, 1222, 1223, 1224, 1225, 1228, 1230, 1231, 1233, 1234, 1235, 1237, 1238, 1240, 1242, 1243, 1244, 1245, 1246, 1247, 1248, 1249, 1250, 1252, 1253, 1254, 1256, 1257, 1258, 1259, 1260, 1261, 1262, 1263, 1264, 1265, 1266, 1267, 1268, 1269, 1270, 1271, 1272, 1274, 1275, 1276, 1277, 1278, 1280, 1282, 1283, 1284, 1285, 1286, 1287, 1288, 1291, 1292, 1293, 1294, 1295, 1296, 1297, 1298, 1299, 1300, 1301, 1302, 1303, 1304, 1307, 1320, 1321, 1327, 1333, 1334, 1339, 1342, 1343, 1344, 1345, 1347, 1350, 1354, 1356, 1357, 1358, 1367, 1370, 1371, 1372, 1373, 1374, 1375, 1376, 1377, 1378, 1379, 1380, 1381, 1385, 1387, 1388, 1391, 1393, 1394, 1395, 1396, 1405, 1407, 1408, 1409, 1411, 1416, 1422, 1429, 1438, 1441, 1449, 1457, 1459, 1466, 1476, 1479, 1480, 1485, 1488, 1499, 1500, 1513, 1517, 1518, 1527, 1537, 1544, 1552, 1556, 1562, 1566, 1569, 1573, 1580, 1584, 1586, 1587, 1588, 1589, 1590, 1591, 1594, 1597, 1603, 1608, 1610, 1614, 1616, 1617, 1619, 1620, 1625, 1633, 1635, 1639, 1641, 1643, 1644, 1645, 1653, 1663, 1672, 1673, 1674, 1676, 1678, 1680, 1682, 1687, 1688, 1690, 1693, 1694, 1701, 1702, 1704, 1711, 1717, 1719, 1721, 1722, 1729, 1732, 1735, 1747, 1748, 1754, 1769, 1777, 1779, 1784, 1792, 1801, 1805, 1810, 1831, 1833, 1834, 1835, 1845, 1873, 1876, 1882, 1883, 1884, 1885, 1888, 1892, 1894, 1895, 1907, 1909, 1911, 1912, 1914, 1916, 1917, 1918, 1920, 1921, 1923, 1927, 1944, 1945, 1947, 1950, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960, 1961, 1962, 1964, 1965, 1967, 1968, 1969, 1970, 1974, 1982, 1994, 1997, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2009, 2010, 2011, 2012, 2013, 2015, 2018, 2019, 2020, 2021, 2023, 2028, 2034, 2046, 2053, 2054, 2058, 2059, 2064, 2065, 2067, 2070, 2072, 2076, 2078, 2080, 2081, 2082, 2083, 2085, 2087, 2088, 2093, 2094, 2096, 2100, 2105, 2108, 2109, 2110, 2111, 2112, 2114, 2115, 2116, 2117, 2118, 2124, 2125, 2126, 2130, 2132, 2133, 2134, 2137, 2138, 2139, 2140, 2141, 2143, 2144, 2145, 2146, 2150, 2153, 2155, 2160, 2161, 2167, 2174, 2186, 2188, 2193, 2194, 2231, 2243, 2245, 2247, 2248, 2253, 2262, 2268, 2273, 2278, 2282, 2287, 2288, 2289, 2291, 2294, 2297, 2300, 2301, 2302, 2303, 2311, 2312, 2313, 2318, 2321, 2322, 2324, 2329, 2333, 2334, 2335, 2336, 2338, 2340, 2346, 2348, 2352, 2353, 2355, 2359, 2363, 2366, 2367, 2369, 2371, 2375, 2376, 2378, 2384, 2389, 2390, 2391, 2393, 2394, 2395, 2396, 2398, 2401, 2402, 2403, 2404, 2405, 2406, 2407, 2408, 2409, 2410, 2411, 2412, 2413, 2414, 2416, 2420, 2421, 2422, 2423, 2424, 2427, 2428, 2431, 2433, 2447, 2450, 2454, 2455, 2456, 2457, 2463, 2467, 2468, 2469, 2470, 2471, 2474, 2476, 2478, 2485, 2490, 2496, 2501, 2502, 2505, 2513, 2517, 2518, 2524, 2527, 2528, 2529, 2530, 2531, 2532, 2533, 2539, 2541, 2542, 2565, 2567, 2571, 2572, 2580, 2581, 2598, 2599, 2600, 2605, 2613, 2616, 2617, 2622, 2628, 2640, 2641, 2642, 2643, 2648, 2657, 2662, 2664, 2668, 2671, 2672, 2676, 2683, 2686, 2687, 2688, 2690, 2692, 2694, 2699, 2700, 2701, 2702, 2706, 2707, 2710, 2712, 2713, 2716, 2717, 2718, 2719, 2720, 2722, 2723, 2724, 2728, 2734, 2735, 2739, 2746, 2747, 2750, 2759, 2761, 2762, 2763, 2764, 2770, 2779, 2788, 2791, 2792, 2793, 2794, 2795, 2797, 2802, 2803, 2804, 2805, 2808, 2815, 2819, 2822, 2826, 2827, 2840, 2841, 2857, 2858, 2861, 2863, 2867, 2871, 2872, 2875, 2881, 2883, 2889, 2890, 2901, 2908, 2912, 2915, 2916, 2917, 2918, 2919, 2921, 2926, 2941, 2942, 2944, 2946, 2947, 2948, 2949, 2950, 2951, 2953, 2959, 2961, 2966, 2968, 2971, 2973, 2976, 2985, 2986, 2987, 2989, 2990, 2991, 2993, 2995, 2997, 3000, 3005, 3006, 3007, 3016, 3019, 3020, 3033, 3034, 3035, 3037, 3039, 3040, 3044, 3052, 3053, 3060, 3061, 3062, 3067, 3068, 3070, 3071, 3072, 3081, 3082, 3083, 3087, 3088, 3095, 3098, 3099, 3100, 3101, 3104, 3105, 3107, 3108, 3113, 3114, 3129, 3145, 3146, 3147, 3148, 3152, 3153, 3155, 3156, 3157, 3159, 3160, 3163, 3168, 3173, 3174, 3175, 3176, 3178, 3185, 3186, 3189, 3196, 3198, 3201, 3203, 3208, 3210, 3219, 3238, 3243, 3244, 3246, 3247, 3249, 3250, 3251, 3252, 3253, 3254, 3255, 3256, 3257, 3258, 3259, 3260, 3261, 3263, 3264, 3265, 3267, 3269, 3271, 3273, 3274, 3285, 3298, 3300, 3301, 3307, 3308, 3316, 3317, 3328, 3334, 3354, 3355, 3358, 3359, 3360, 3361, 3362, 3363, 3366, 3384, 3386, 3388, 3396, 3397, 3398, 3408, 3409, 3418, 3421, 3424, 3429, 3435, 3438, 3441, 3448, 3450, 3451, 3452, 3461, 3462, 3467, 3468, 3469, 3471, 3476, 3477, 3478, 3479, 3481, 3484, 3489, 3494, 3498, 3499, 3501, 3504, 3505, 3507, 3508, 3510, 3512, 3513, 3524, 3525, 3526, 3527, 3528, 3534, 3535, 3536, 3543, 3545, 3548, 3549, 3551, 3552, 3555, 3556, 3565, 3566, 3576, 3578, 3591, 3593, 3608, 3614, 3615, 3617, 3618, 3623, 3624, 3629, 3633, 3635, 3638, 3639, 3649, 3654, 3668, 3671, 3675, 3681, 3683, 3684, 3685, 3686, 3688, 3697, 3698, 3699, 3701, 3702, 3703, 3704, 3705, 3706, 3708, 3712, 3717, 3723, 3730, 3733, 3735, 3740, 3744, 3745, 3751, 3752, 3753, 3755, 3760, 3763, 3770, 3785, 3791, 3793, 3798, 3802, 3809, 3811, 3812, 3826, 3827, 3836, 3841, 3844, 3863, 3868, 3869, 3871, 3873, 3893, 3897, 3911, 3916, 3917, 3927, 3948, 3949, 3952]

In [ ]:
#checando quais ids nao aparecem em movie_id (isso porque o valor de movie_id é 
#maior q os indexes então deve ter um id faltante)
movie_id_not_exist = []
a_list = list(range(1, max(movies['movie_id'])))

for index,row in movies.iterrows():
  if row['movie_id'] not in a_list:
    movie_id_not_exist.append(row['movie_id'])

print(movie_id_not_exist)

[3952]

In [ ]:
#checando quais ids nao aparecem na lista list_movies_ids

movie_id_not_exist_moviesidlist = []

for index,row in movies.iterrows():
  if row['movie_id'] not in list_movies_ids_sorted:
    movie_id_not_exist_moviesidlist.append(row['movie_id'])

print(movie_id_not_exist_moviesidlist)

[4, 8, 9, 12, 13, 14, 15, 18, 20, 23, 26, 27, 28, 30, 31, 33, 35, 37, 38, 40, 41, 42, 43, 46, 49, 51, 53, 54, 55, 56, 57, 59, 61, 63, 64, 65, 66, 67, 68, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 92, 93, 94, 96, 97, 98, 99, 100, 101, 102, 103, 106, 108, 109, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 142, 143, 146, 147, 148, 149, 152, 154, 155, 156, 157, 159, 166, 167, 169, 171, 174, 175, 176, 177, 178, 179, 181, 182, 183, 184, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 197, 199, 200, 201, 202, 203, 204, 205, 206, 207, 209, 210, 211, 212, 213, 214, 215, 217, 218, 219, 220, 225, 226, 227, 228, 229, 233, 234, 238, 239, 240, 241, 242, 243, 244, 245, 248, 250, 251, 254, 255, 256, 257, 258, 259, 262, 263, 264, 267, 268, 269, 270, 271, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 289, 290, 291, 294, 295, 297, 298, 299, 301, 302, 304, 305, 307, 308, 309, 310, 311, 312, 313, 315, 320, 321, 322, 324, 325, 326, 328, 330, 331, 332, 334, 335, 336, 338, 340, 341, 343, 346, 347, 352, 354, 358, 359, 360, 362, 363, 365, 366, 369, 371, 374, 375, 378, 381, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 411, 413, 414, 415, 416, 417, 418, 419, 421, 422, 423, 424, 425, 427, 429, 430, 433, 436, 437, 438, 439, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 456, 458, 459, 460, 461, 462, 463, 464, 465, 467, 469, 470, 472, 473, 476, 477, 478, 479, 482, 483, 484, 486, 487, 488, 489, 490, 491, 495, 496, 498, 499, 501, 502, 503, 504, 505, 506, 510, 511, 512, 513, 516, 518, 519, 521, 522, 523, 525, 526, 528, 530, 533, 536, 537, 540, 542, 544, 545, 547, 548, 549, 550, 554, 556, 557, 558, 559, 560, 561, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 591, 598, 600, 601, 602, 603, 604, 605, 606, 607, 609, 611, 612, 613, 614, 615, 617, 618, 619, 620, 621, 623, 624, 625, 626, 627, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 649, 650, 651, 652, 654, 655, 656, 657, 658, 659, 660, 662, 664, 665, 666, 667, 668, 669, 670, 672, 675, 676, 679, 680, 681, 682, 683, 684, 685, 687, 688, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701, 702, 703, 704, 705, 706, 709, 710, 711, 712, 713, 714, 715, 716, 717, 718, 719, 721, 722, 723, 725, 726, 727, 728, 729, 730, 731, 732, 734, 735, 738, 739, 742, 743, 744, 746, 747, 749, 751, 752, 753, 754, 755, 756, 757, 758, 759, 760, 761, 763, 764, 765, 766, 767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 779, 781, 782, 787, 789, 790, 791, 792, 793, 794, 795, 796, 797, 798, 801, 803, 804, 806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 818, 819, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 831, 833, 834, 835, 836, 837, 839, 840, 841, 842, 843, 844, 845, 846, 847, 848, 850, 851, 853, 854, 855, 856, 857, 859, 860, 862, 863, 864, 865, 867, 868, 869, 870, 871, 872, 873, 874, 875, 876, 877, 878, 879, 881, 882, 884, 885, 886, 887, 888, 889, 890, 891, 892, 893, 894, 895, 896, 897, 901, 906, 907, 917, 918, 925, 927, 929, 931, 932, 935, 936, 937, 938, 939, 941, 943, 944, 945, 946, 947, 948, 949, 956, 957, 958, 959, 960, 961, 962, 963, 964, 965, 966, 967, 970, 972, 973, 974, 975, 976, 977, 978, 979, 980, 981, 982, 983, 984, 985, 986, 987, 988, 989, 990, 991, 992, 993, 997, 998, 1000, 1001, 1002, 1003, 1004, 1005, 1006, 1007, 1008, 1010, 1011, 1014, 1015, 1016, 1018, 1021, 1023, 1024, 1026, 1034, 1038, 1039, 1040, 1043, 1044, 1045, 1046, 1050, 1051, 1052, 1053, 1054, 1055, 1056, 1058, 1062, 1063, 1064, 1065, 1066, 1067, 1068, 1069, 1070, 1071, 1075, 1076, 1082, 1083, 1085, 1087, 1098, 1099, 1102, 1105, 1106, 1107, 1108, 1109, 1110, 1111, 1112, 1113, 1114, 1115, 1116, 1117, 1118, 1119, 1121, 1122, 1123, 1128, 1130, 1131, 1132, 1133, 1134, 1137, 1138, 1139, 1140, 1141, 1142, 1143, 1144, 1145, 1146, 1149, 1150, 1151, 1152, 1153, 1154, 1155, 1156, 1157, 1158, 1159, 1160, 1161, 1162, 1163, 1164, 1165, 1166, 1167, 1168, 1169, 1170, 1173, 1174, 1176, 1177, 1178, 1180, 1181, 1184, 1187, 1190, 1191, 1192, 1194, 1202, 1205, 1209, 1211, 1216, 1218, 1226, 1227, 1232, 1236, 1241, 1251, 1255, 1273, 1279, 1281, 1289, 1290, 1305, 1306, 1308, 1309, 1310, 1311, 1312, 1313, 1314, 1315, 1316, 1317, 1318, 1319, 1322, 1323, 1324, 1325, 1326, 1328, 1329, 1330, 1331, 1332, 1335, 1336, 1337, 1340, 1341, 1346, 1348, 1349, 1351, 1352, 1353, 1355, 1359, 1360, 1361, 1362, 1363, 1364, 1365, 1366, 1368, 1369, 1382, 1383, 1384, 1386, 1389, 1390, 1392, 1397, 1398, 1399, 1400, 1401, 1404, 1406, 1410, 1412, 1413, 1414, 1415, 1417, 1419, 1420, 1421, 1423, 1424, 1425, 1426, 1427, 1428, 1430, 1431, 1432, 1433, 1434, 1436, 1437, 1439, 1440, 1442, 1443, 1444, 1445, 1446, 1447, 1448, 1450, 1453, 1454, 1455, 1456, 1458, 1460, 1461, 1462, 1463, 1464, 1465, 1467, 1468, 1470, 1471, 1472, 1473, 1474, 1475, 1477, 1482, 1483, 1484, 1486, 1487, 1489, 1490, 1493, 1494, 1495, 1496, 1497, 1498, 1501, 1502, 1503, 1504, 1507, 1508, 1509, 1510, 1511, 1514, 1515, 1516, 1519, 1520, 1522, 1523, 1524, 1525, 1526, 1528, 1529, 1531, 1532, 1533, 1534, 1535, 1538, 1539, 1541, 1542, 1543, 1545, 1546, 1547, 1548, 1549, 1550, 1551, 1553, 1554, 1555, 1557, 1558, 1559, 1561, 1563, 1564, 1565, 1567, 1568, 1570, 1571, 1572, 1574, 1575, 1577, 1578, 1579, 1581, 1582, 1583, 1585, 1592, 1593, 1595, 1596, 1598, 1599, 1600, 1601, 1602, 1604, 1605, 1606, 1609, 1611, 1612, 1613, 1615, 1621, 1622, 1623, 1624, 1626, 1627, 1628, 1629, 1630, 1631, 1632, 1636, 1640, 1642, 1646, 1647, 1648, 1649, 1650, 1651, 1652, 1654, 1655, 1656, 1657, 1658, 1659, 1660, 1661, 1662, 1664, 1665, 1666, 1667, 1668, 1669, 1670, 1671, 1675, 1677, 1679, 1681, 1683, 1684, 1685, 1686, 1689, 1692, 1695, 1696, 1697, 1698, 1699, 1703, 1705, 1706, 1707, 1708, 1709, 1710, 1713, 1714, 1715, 1716, 1718, 1720, 1723, 1724, 1725, 1726, 1727, 1728, 1730, 1731, 1733, 1734, 1738, 1739, 1740, 1741, 1742, 1743, 1744, 1746, 1749, 1750, 1752, 1753, 1755, 1756, 1757, 1758, 1759, 1760, 1762, 1764, 1765, 1767, 1768, 1770, 1771, 1772, 1773, 1774, 1776, 1780, 1781, 1782, 1783, 1785, 1787, 1788, 1789, 1791, 1793, 1794, 1795, 1796, 1797, 1798, 1799, 1804, 1806, 1807, 1809, 1811, 1812, 1814, 1815, 1816, 1817, 1819, 1820, 1821, 1822, 1824, 1825, 1826, 1827, 1829, 1830, 1832, 1836, 1837, 1839, 1840, 1841, 1842, 1843, 1844, 1846, 1847, 1848, 1849, 1850, 1851, 1852, 1853, 1854, 1855, 1856, 1857, 1858, 1859, 1860, 1861, 1862, 1863, 1864, 1865, 1866, 1867, 1868, 1869, 1870, 1871, 1872, 1874, 1875, 1877, 1878, 1879, 1880, 1881, 1886, 1887, 1889, 1890, 1891, 1893, 1896, 1897, 1898, 1899, 1900, 1901, 1902, 1903, 1904, 1905, 1906, 1908, 1910, 1913, 1915, 1919, 1922, 1924, 1925, 1926, 1928, 1929, 1930, 1931, 1932, 1933, 1934, 1935, 1936, 1937, 1938, 1939, 1940, 1941, 1942, 1943, 1946, 1948, 1949, 1951, 1963, 1966, 1971, 1972, 1973, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1995, 1996, 1998, 1999, 2007, 2008, 2014, 2016, 2017, 2022, 2024, 2025, 2026, 2027, 2029, 2030, 2031, 2032, 2033, 2035, 2036, 2037, 2038, 2039, 2040, 2041, 2042, 2043, 2044, 2045, 2047, 2048, 2049, 2050, 2051, 2052, 2055, 2056, 2057, 2060, 2061, 2062, 2063, 2066, 2068, 2069, 2071, 2073, 2074, 2075, 2077, 2079, 2084, 2086, 2089, 2090, 2091, 2092, 2095, 2097, 2098, 2099, 2101, 2102, 2103, 2104, 2106, 2107, 2113, 2119, 2120, 2121, 2122, 2123, 2127, 2128, 2129, 2131, 2135, 2136, 2142, 2147, 2148, 2149, 2151, 2152, 2154, 2156, 2157, 2158, 2159, 2162, 2163, 2164, 2165, 2166, 2168, 2169, 2170, 2171, 2172, 2173, 2175, 2176, 2177, 2178, 2179, 2180, 2181, 2182, 2183, 2184, 2185, 2187, 2189, 2190, 2191, 2192, 2195, 2196, 2197, 2198, 2199, 2200, 2201, 2202, 2203, 2204, 2205, 2206, 2207, 2208, 2209, 2210, 2211, 2212, 2213, 2214, 2215, 2216, 2217, 2218, 2219, 2220, 2221, 2222, 2223, 2224, 2225, 2226, 2227, 2228, 2229, 2230, 2232, 2233, 2234, 2235, 2236, 2237, 2238, 2239, 2240, 2241, 2242, 2244, 2246, 2249, 2250, 2251, 2252, 2254, 2255, 2256, 2257, 2258, 2259, 2260, 2261, 2263, 2264, 2265, 2266, 2267, 2269, 2270, 2271, 2272, 2274, 2275, 2276, 2277, 2279, 2280, 2281, 2283, 2284, 2285, 2286, 2290, 2292, 2293, 2295, 2296, 2298, 2299, 2304, 2305, 2306, 2307, 2308, 2309, 2310, 2314, 2315, 2316, 2317, 2319, 2320, 2323, 2325, 2326, 2327, 2328, 2330, 2331, 2332, 2337, 2339, 2341, 2342, 2343, 2344, 2345, 2347, 2349, 2350, 2351, 2354, 2356, 2357, 2358, 2360, 2361, 2362, 2364, 2365, 2368, 2370, 2372, 2373, 2374, 2377, 2379, 2380, 2381, 2382, 2383, 2385, 2386, 2387, 2388, 2392, 2397, 2399, 2400, 2415, 2417, 2418, 2419, 2425, 2426, 2429, 2430, 2432, 2434, 2435, 2436, 2437, 2438, 2439, 2440, 2441, 2442, 2443, 2444, 2445, 2446, 2448, 2449, 2451, 2452, 2453, 2458, 2459, 2460, 2461, 2462, 2464, 2465, 2466, 2472, 2473, 2475, 2477, 2479, 2480, 2481, 2482, 2483, 2484, 2486, 2487, 2488, 2489, 2491, 2492, 2493, 2494, 2495, 2497, 2498, 2499, 2500, 2503, 2504, 2506, 2507, 2508, 2509, 2510, 2511, 2512, 2514, 2515, 2516, 2519, 2520, 2521, 2522, 2523, 2525, 2526, 2534, 2535, 2536, 2537, 2538, 2540, 2543, 2544, 2545, 2546, 2547, 2548, 2549, 2550, 2551, 2552, 2553, 2554, 2555, 2556, 2557, 2558, 2559, 2560, 2561, 2562, 2563, 2564, 2566, 2568, 2569, 2570, 2573, 2574, 2575, 2576, 2577, 2578, 2579, 2582, 2583, 2584, 2585, 2586, 2587, 2588, 2589, 2590, 2591, 2592, 2593, 2594, 2595, 2596, 2597, 2601, 2602, 2603, 2604, 2606, 2607, 2608, 2609, 2610, 2611, 2612, 2614, 2615, 2618, 2619, 2620, 2621, 2623, 2624, 2625, 2626, 2627, 2629, 2630, 2631, 2632, 2633, 2634, 2635, 2636, 2637, 2638, 2639, 2644, 2645, 2646, 2647, 2649, 2650, 2651, 2652, 2653, 2654, 2655, 2656, 2658, 2659, 2660, 2661, 2663, 2665, 2666, 2667, 2669, 2670, 2673, 2674, 2675, 2677, 2678, 2679, 2680, 2681, 2682, 2684, 2685, 2689, 2691, 2693, 2695, 2696, 2697, 2698, 2703, 2704, 2705, 2708, 2709, 2711, 2714, 2715, 2721, 2725, 2726, 2727, 2729, 2730, 2731, 2732, 2733, 2736, 2737, 2738, 2740, 2741, 2742, 2743, 2744, 2745, 2748, 2749, 2751, 2752, 2753, 2754, 2755, 2756, 2757, 2758, 2760, 2765, 2766, 2767, 2768, 2769, 2771, 2772, 2773, 2774, 2775, 2776, 2777, 2778, 2780, 2781, 2782, 2783, 2784, 2785, 2786, 2787, 2789, 2790, 2796, 2798, 2799, 2800, 2801, 2806, 2807, 2809, 2810, 2811, 2812, 2813, 2814, 2816, 2817, 2818, 2820, 2821, 2823, 2824, 2825, 2828, 2829, 2830, 2831, 2832, 2833, 2834, 2835, 2836, 2837, 2838, 2839, 2842, 2843, 2844, 2845, 2846, 2847, 2848, 2849, 2850, 2851, 2852, 2853, 2854, 2855, 2856, 2859, 2860, 2862, 2864, 2865, 2866, 2868, 2869, 2870, 2873, 2874, 2876, 2877, 2878, 2879, 2880, 2882, 2884, 2885, 2886, 2887, 2888, 2891, 2892, 2893, 2894, 2895, 2896, 2897, 2898, 2899, 2900, 2902, 2903, 2904, 2905, 2906, 2907, 2909, 2910, 2911, 2913, 2914, 2920, 2922, 2923, 2924, 2925, 2927, 2928, 2929, 2930, 2931, 2932, 2933, 2934, 2935, 2936, 2937, 2938, 2939, 2940, 2943, 2945, 2952, 2954, 2955, 2956, 2957, 2958, 2960, 2962, 2963, 2964, 2965, 2967, 2969, 2970, 2972, 2974, 2975, 2977, 2978, 2979, 2980, 2981, 2982, 2983, 2984, 2988, 2992, 2994, 2996, 2998, 2999, 3001, 3002, 3003, 3004, 3008, 3009, 3010, 3011, 3012, 3013, 3014, 3015, 3017, 3018, 3021, 3022, 3023, 3024, 3025, 3026, 3027, 3028, 3029, 3030, 3031, 3032, 3036, 3038, 3041, 3042, 3043, 3045, 3046, 3047, 3048, 3049, 3050, 3051, 3054, 3055, 3056, 3057, 3058, 3059, 3063, 3064, 3065, 3066, 3069, 3073, 3074, 3075, 3076, 3077, 3078, 3079, 3080, 3084, 3085, 3086, 3089, 3090, 3091, 3092, 3093, 3094, 3096, 3097, 3102, 3103, 3106, 3109, 3110, 3111, 3112, 3115, 3116, 3117, 3118, 3119, 3120, 3121, 3122, 3123, 3124, 3125, 3126, 3127, 3128, 3130, 3131, 3132, 3133, 3134, 3135, 3136, 3137, 3138, 3139, 3140, 3141, 3142, 3143, 3144, 3149, 3150, 3151, 3154, 3158, 3161, 3162, 3164, 3165, 3166, 3167, 3169, 3170, 3171, 3172, 3177, 3179, 3180, 3181, 3182, 3183, 3184, 3187, 3188, 3190, 3191, 3192, 3193, 3194, 3195, 3197, 3199, 3200, 3202, 3204, 3205, 3206, 3207, 3209, 3211, 3212, 3213, 3214, 3215, 3216, 3217, 3218, 3220, 3221, 3222, 3223, 3224, 3225, 3226, 3227, 3228, 3229, 3230, 3231, 3232, 3233, 3234, 3235, 3236, 3237, 3239, 3240, 3241, 3242, 3245, 3248, 3262, 3266, 3268, 3270, 3272, 3275, 3276, 3277, 3278, 3279, 3280, 3281, 3282, 3283, 3284, 3286, 3287, 3288, 3289, 3290, 3291, 3292, 3293, 3294, 3295, 3296, 3297, 3299, 3302, 3303, 3304, 3305, 3306, 3309, 3310, 3311, 3312, 3313, 3314, 3315, 3318, 3319, 3320, 3321, 3322, 3323, 3324, 3325, 3326, 3327, 3329, 3330, 3331, 3332, 3333, 3335, 3336, 3337, 3338, 3339, 3340, 3341, 3342, 3343, 3344, 3345, 3346, 3347, 3348, 3349, 3350, 3351, 3352, 3353, 3356, 3357, 3364, 3365, 3367, 3368, 3369, 3370, 3371, 3372, 3373, 3374, 3375, 3376, 3377, 3378, 3379, 3380, 3381, 3382, 3383, 3385, 3387, 3389, 3390, 3391, 3392, 3393, 3394, 3395, 3399, 3400, 3401, 3402, 3403, 3404, 3405, 3406, 3407, 3410, 3411, 3412, 3413, 3414, 3415, 3416, 3417, 3419, 3420, 3422, 3423, 3425, 3426, 3427, 3428, 3430, 3431, 3432, 3433, 3434, 3436, 3437, 3439, 3440, 3442, 3443, 3444, 3445, 3446, 3447, 3449, 3453, 3454, 3455, 3456, 3457, 3458, 3459, 3460, 3463, 3464, 3465, 3466, 3470, 3472, 3473, 3474, 3475, 3480, 3482, 3483, 3485, 3486, 3487, 3488, 3490, 3491, 3492, 3493, 3495, 3496, 3497, 3500, 3502, 3503, 3506, 3509, 3511, 3514, 3515, 3516, 3517, 3518, 3519, 3520, 3521, 3522, 3523, 3529, 3530, 3531, 3532, 3533, 3537, 3538, 3539, 3540, 3541, 3542, 3544, 3546, 3547, 3550, 3553, 3554, 3557, 3558, 3559, 3560, 3561, 3562, 3563, 3564, 3567, 3568, 3569, 3570, 3571, 3572, 3573, 3574, 3575, 3577, 3579, 3580, 3581, 3582, 3583, 3584, 3585, 3586, 3587, 3588, 3589, 3590, 3592, 3594, 3595, 3596, 3597, 3598, 3599, 3600, 3601, 3602, 3603, 3604, 3605, 3606, 3607, 3609, 3610, 3611, 3612, 3613, 3616, 3619, 3620, 3621, 3622, 3625, 3626, 3627, 3628, 3630, 3631, 3632, 3634, 3636, 3637, 3640, 3641, 3642, 3643, 3644, 3645, 3646, 3647, 3648, 3650, 3651, 3652, 3653, 3655, 3656, 3657, 3658, 3659, 3660, 3661, 3662, 3663, 3664, 3665, 3666, 3667, 3669, 3670, 3672, 3673, 3674, 3676, 3677, 3678, 3679, 3680, 3682, 3687, 3689, 3690, 3691, 3692, 3693, 3694, 3695, 3696, 3700, 3707, 3709, 3710, 3711, 3713, 3714, 3715, 3716, 3718, 3719, 3720, 3721, 3722, 3724, 3725, 3726, 3727, 3728, 3729, 3731, 3732, 3734, 3736, 3737, 3738, 3739, 3741, 3742, 3743, 3746, 3747, 3748, 3749, 3750, 3754, 3756, 3757, 3758, 3759, 3761, 3762, 3764, 3765, 3766, 3767, 3768, 3769, 3771, 3772, 3773, 3774, 3775, 3776, 3777, 3778, 3779, 3780, 3781, 3782, 3783, 3784, 3786, 3787, 3788, 3789, 3790, 3792, 3794, 3795, 3796, 3797, 3799, 3800, 3801, 3803, 3804, 3805, 3806, 3807, 3808, 3810, 3813, 3814, 3816, 3817, 3818, 3819, 3820, 3821, 3822, 3823, 3824, 3825, 3828, 3829, 3830, 3831, 3832, 3833, 3834, 3835, 3837, 3838, 3839, 3840, 3842, 3843, 3845, 3846, 3847, 3848, 3849, 3850, 3851, 3852, 3853, 3854, 3855, 3856, 3857, 3858, 3859, 3860, 3861, 3862, 3864, 3865, 3866, 3867, 3870, 3872, 3874, 3875, 3876, 3877, 3878, 3879, 3880, 3881, 3882, 3883, 3884, 3885, 3886, 3887, 3888, 3889, 3890, 3891, 3892, 3894, 3895, 3896, 3898, 3899, 3900, 3901, 3902, 3903, 3904, 3905, 3906, 3907, 3908, 3909, 3910, 3912, 3913, 3914, 3915, 3918, 3919, 3920, 3921, 3922, 3923, 3924, 3925, 3926, 3928, 3929, 3930, 3931, 3932, 3933, 3934, 3935, 3936, 3937, 3938, 3939, 3940, 3941, 3942, 3943, 3944, 3945, 3946, 3947, 3950, 3951]

In [ ]:
#def create_similarity_matrix(genres_file):
#  Matrix = []
#  genres_list = [ 'Animation', "Children's", 'Comedy', 'Adventure', 'Fantasy', 'Romance', 'Drama', 'Action', 'Crime', 'Thriller', 'Horror', 'Sci-Fi', 'Documentary', 'War', 'Musical', 'Mystery', 'Film-Noir', 'Western']
#  for index,rows in genres_file.iterrows():
#    genre_strings = rows['genre'].split("|")
#    arr = [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,0.]
#    for i in range(len(genre_strings)):
#      index = genres_list.index(genre_strings[i])
#      arr[index] = 1
#    Matrix.append(arr)
#  return Matrix

In [ ]:
movies.shape[0]

3883

In [ ]:
a_list = []
for index,row in movies.iterrows():
  genre_strings = row['genre'].split("|")
  for i in range(len(genre_strings)):
    a_list.append(genre_strings[i])

print(set(a_list))
genres_list = list(set(a_list))
print(len(genres_list))

{'Film-Noir', 'Animation', 'Fantasy', 'Drama', 'Action', 'Horror', 'Sci-Fi', 'Western', 'War', 'Mystery', 'Thriller', 'Documentary', 'Crime', 'Romance', 'Comedy', 'Musical', "Children's", 'Adventure'}
18

In [ ]:
genres_array = []
for i in range(len(genres_list)):
  genres_array.append(genres_list[i])

print(genres_array)
print(len(genres_array))

['Film-Noir', 'Animation', 'Fantasy', 'Drama', 'Action', 'Horror', 'Sci-Fi', 'Western', 'War', 'Mystery', 'Thriller', 'Documentary', 'Crime', 'Romance', 'Comedy', 'Musical', "Children's", 'Adventure']
18

In [ ]:
Columns=['movie_id']

for i in range(len(genres_array)):
  Columns.append(genres_array[i])

print(Columns)

['movie_id', 'Film-Noir', 'Animation', 'Fantasy', 'Drama', 'Action', 'Horror', 'Sci-Fi', 'Western', 'War', 'Mystery', 'Thriller', 'Documentary', 'Crime', 'Romance', 'Comedy', 'Musical', "Children's", 'Adventure']

In [ ]:
movies.shape[0]

3883

In [ ]:
Q = pd.DataFrame(index=np.arange(movies.shape[0]), columns=Columns)
#a_list = list(movies['movie_id'])
Q['movie_id'] = movies['movie_id']
Q = Q.fillna(0)
Q

,movie_id,Film-Noir,Animation,Fantasy,Drama,Action,Horror,Sci-Fi,Western,War,Mystery,Thriller,Documentary,Crime,Romance,Comedy,Musical,Children's,Adventure
0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,5,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3878,3948,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3879,3949,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3880,3950,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3881,3951,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3882,3952,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [ ]:
#array = ["Children's", 'Musical', 'Fantasy', 'Animation', 'Action', 'Drama', 'Horror', 'Film-Noir', 'Mystery', 'Sci-Fi', 'Documentary', 'Romance', 'Western', 'Thriller', 'Crime', 'Comedy', 'Adventure', 'War']
a_list = list(range(1,movies.shape[0]))
for index,row in movies.iterrows():
  #print(row['movie_id'])
  genre_strings = row['genre'].split("|")
  #arr = np.zeros(len(genres_array))
  for i in range(len(genre_strings)):
    #index = genres_array.index(genre_strings[i])
    #arr[index] = 1
    Q[genre_strings[i]].loc[row['movie_id'] == Q['movie_id']] = 1
print(Q)

      movie_id  Film-Noir  Animation  Fantasy  Drama  Action  Horror  Sci-Fi  \
0            1          0          1        0      0       0       0       0
1            2          0          0        1      0       0       0       0
2            3          0          0        0      0       0       0       0
3            4          0          0        0      1       0       0       0
4            5          0          0        0      0       0       0       0
...        ...        ...        ...      ...    ...     ...     ...     ...
3878      3948          0          0        0      0       0       0       0
3879      3949          0          0        0      1       0       0       0
3880      3950          0          0        0      1       0       0       0
3881      3951          0          0        0      1       0       0       0
3882      3952          0          0        0      1       0       0       0

      Western  War  Mystery  Thriller  Documentary  Crime  Romance  Comedy  \
0           0    0        0         0            0      0        0       1
1           0    0        0         0            0      0        0       0
2           0    0        0         0            0      0        1       1
3           0    0        0         0            0      0        0       1
4           0    0        0         0            0      0        0       1
...       ...  ...      ...       ...          ...    ...      ...     ...
3878        0    0        0         0            0      0        0       1
3879        0    0        0         0            0      0        0       0
3880        0    0        0         0            0      0        0       0
3881        0    0        0         0            0      0        0       0
3882        0    0        0         1            0      0        0       0

      Musical  Children's  Adventure
0           0           1          0
1           0           1          1
2           0           0          0
3           0           0          0
4           0           0          0
...       ...         ...        ...
3878        0           0          0
3879        0           0          0
3880        0           0          0
3881        0           0          0
3882        0           0          0

[3883 rows x 19 columns]

In [ ]:
#Q = Q.drop(Q['movie_id'] in dropcolumnsmovies, inplace=True)

print(Q['movie_id'])

0          1
1          2
2          3
3          4
4          5
        ...
3878    3948
3879    3949
3880    3950
3881    3951
3882    3952
Name: movie_id, Length: 3883, dtype: int64

In [ ]:
#Aqui temos que retirar algumas linhas que não tem um id que da um match no 
#arquivo ratings
list_movies_ratings = list_movies_ids_sorted #filmes q estao no banco de dados
list_movies_movies = list(set(Q['movie_id'])) # todos os filmes
print(len(list_movies_ratings)) #entao temos q tirar os filmes n avaliados de Q
print(len(list_movies_movies)) # nota-se que há mais filmes do q filmes avaliados

print(list_movies_ratings)
print(list_movies_movies)
list_of_movies_to_drop_in_Q = []
j = 0
i = 0
while i < len(list_movies_movies):
  if j >= len(list_movies_ratings):
    while i < len(list_movies_movies):
      list_of_movies_to_drop_in_Q.append(list_movies_movies[i])
      i=i+1
    break;
  if list_movies_movies[i] == list_movies_ratings[j] :
    j = j+1
    i = i+1
  elif list_movies_movies[i] < list_movies_ratings[j]:
    list_of_movies_to_drop_in_Q.append(list_movies_movies[i])
    i=i+1
  else: #list_movies_movies[i] > list_movies_ratings[j]:
    #print(list_movies_ratings[j])
    #list_of_movies_to_drop_in_Q.append(list_movies_ratings[j])
    j=j+1


list_of_movies_to_drop_in_Q = list(set(list_of_movies_to_drop_in_Q))
print(list_of_movies_to_drop_in_Q)
print(len(list_of_movies_to_drop_in_Q))

Q = Q[~Q['movie_id'].isin(dropcolumnsmovies)]
print(Q)
Q =  Q[~Q.movie_id.isin(list_of_movies_to_drop_in_Q)]

#list_movies_rated = list(set(ratings['movie_id']))
#list_movies_not_rated = []
#for index,row in Q.iterrows():
#  if row['movie_id'] in list_movies_rated == False:
#    list_movies_not_rated.appedn(row['movie_id'])

#print(list_movies_not_rated)

1200
3883
[1, 2, 3, 5, 6, 7, 10, 11, 16, 17, 19, 21, 22, 24, 25, 29, 32, 34, 36, 39, 44, 45, 47, 48, 50, 52, 58, 60, 62, 69, 70, 95, 104, 105, 107, 110, 111, 112, 125, 141, 144, 145, 150, 151, 153, 158, 160, 161, 162, 163, 164, 165, 168, 170, 172, 173, 180, 185, 196, 198, 208, 216, 222, 223, 224, 230, 231, 232, 235, 236, 237, 246, 247, 249, 252, 253, 260, 261, 265, 266, 272, 288, 292, 293, 296, 300, 303, 306, 314, 316, 317, 318, 319, 327, 329, 333, 337, 339, 342, 344, 345, 348, 349, 350, 351, 353, 355, 356, 357, 361, 364, 367, 368, 370, 372, 373, 376, 377, 379, 380, 382, 383, 410, 412, 420, 426, 428, 431, 432, 434, 435, 440, 441, 442, 454, 455, 457, 466, 468, 471, 474, 475, 480, 481, 485, 492, 493, 494, 497, 500, 507, 508, 509, 514, 515, 517, 520, 524, 527, 529, 531, 532, 534, 535, 538, 539, 541, 543, 546, 551, 552, 553, 555, 562, 585, 586, 587, 588, 589, 590, 592, 593, 594, 595, 596, 597, 599, 608, 610, 616, 628, 647, 648, 653, 661, 663, 671, 673, 674, 678, 707, 708, 720, 724, 733, 736, 737, 741, 745, 748, 750, 762, 778, 780, 783, 784, 785, 786, 788, 799, 800, 802, 805, 830, 832, 838, 849, 852, 858, 861, 866, 880, 898, 899, 900, 902, 903, 904, 905, 908, 909, 910, 911, 912, 913, 914, 915, 916, 919, 920, 921, 922, 923, 924, 926, 928, 930, 933, 934, 940, 942, 950, 951, 952, 953, 954, 955, 968, 969, 971, 994, 996, 999, 1009, 1012, 1013, 1017, 1019, 1020, 1022, 1025, 1027, 1028, 1029, 1030, 1031, 1032, 1033, 1035, 1036, 1037, 1041, 1042, 1047, 1049, 1057, 1059, 1060, 1061, 1073, 1077, 1078, 1079, 1080, 1081, 1084, 1086, 1088, 1089, 1090, 1091, 1092, 1093, 1094, 1095, 1096, 1097, 1100, 1101, 1103, 1104, 1120, 1124, 1125, 1126, 1127, 1129, 1135, 1136, 1147, 1148, 1171, 1172, 1175, 1179, 1183, 1185, 1186, 1188, 1189, 1193, 1196, 1197, 1198, 1199, 1200, 1201, 1203, 1204, 1206, 1207, 1208, 1210, 1212, 1213, 1214, 1215, 1217, 1219, 1220, 1221, 1222, 1223, 1224, 1225, 1228, 1230, 1231, 1233, 1234, 1235, 1237, 1238, 1240, 1242, 1243, 1244, 1245, 1246, 1247, 1248, 1249, 1250, 1252, 1253, 1254, 1256, 1257, 1258, 1259, 1260, 1261, 1262, 1263, 1264, 1265, 1266, 1267, 1268, 1269, 1270, 1271, 1272, 1274, 1275, 1276, 1277, 1278, 1280, 1282, 1283, 1284, 1285, 1286, 1287, 1288, 1291, 1292, 1293, 1294, 1295, 1296, 1297, 1298, 1299, 1300, 1301, 1302, 1303, 1304, 1307, 1320, 1321, 1327, 1333, 1334, 1339, 1342, 1343, 1344, 1345, 1347, 1350, 1354, 1356, 1357, 1358, 1367, 1370, 1371, 1372, 1373, 1374, 1375, 1376, 1377, 1378, 1379, 1380, 1381, 1385, 1387, 1388, 1391, 1393, 1394, 1395, 1396, 1405, 1407, 1408, 1409, 1411, 1416, 1422, 1429, 1438, 1441, 1449, 1457, 1459, 1466, 1476, 1479, 1480, 1485, 1488, 1499, 1500, 1513, 1517, 1518, 1527, 1537, 1544, 1552, 1556, 1562, 1566, 1569, 1573, 1580, 1584, 1586, 1587, 1588, 1589, 1590, 1591, 1594, 1597, 1603, 1608, 1610, 1614, 1616, 1617, 1619, 1620, 1625, 1633, 1635, 1639, 1641, 1643, 1644, 1645, 1653, 1663, 1672, 1673, 1674, 1676, 1678, 1680, 1682, 1687, 1688, 1690, 1693, 1694, 1701, 1702, 1704, 1711, 1717, 1719, 1721, 1722, 1729, 1732, 1735, 1747, 1748, 1754, 1769, 1777, 1779, 1784, 1792, 1801, 1805, 1810, 1831, 1833, 1834, 1835, 1845, 1873, 1876, 1882, 1883, 1884, 1885, 1888, 1892, 1894, 1895, 1907, 1909, 1911, 1912, 1914, 1916, 1917, 1918, 1920, 1921, 1923, 1927, 1944, 1945, 1947, 1950, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960, 1961, 1962, 1964, 1965, 1967, 1968, 1969, 1970, 1974, 1982, 1994, 1997, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2009, 2010, 2011, 2012, 2013, 2015, 2018, 2019, 2020, 2021, 2023, 2028, 2034, 2046, 2053, 2054, 2058, 2059, 2064, 2065, 2067, 2070, 2072, 2076, 2078, 2080, 2081, 2082, 2083, 2085, 2087, 2088, 2093, 2094, 2096, 2100, 2105, 2108, 2109, 2110, 2111, 2112, 2114, 2115, 2116, 2117, 2118, 2124, 2125, 2126, 2130, 2132, 2133, 2134, 2137, 2138, 2139, 2140, 2141, 2143, 2144, 2145, 2146, 2150, 2153, 2155, 2160, 2161, 2167, 2174, 2186, 2188, 2193, 2194, 2231, 2243, 2245, 2247, 2248, 2253, 2262, 2268, 2273, 2278, 2282, 2287, 2288, 2289, 2291, 2294, 2297, 2300, 2301, 2302, 2303, 2311, 2312, 2313, 2318, 2321, 2322, 2324, 2329, 2333, 2334, 2335, 2336, 2338, 2340, 2346, 2348, 2352, 2353, 2355, 2359, 2363, 2366, 2367, 2369, 2371, 2375, 2376, 2378, 2384, 2389, 2390, 2391, 2393, 2394, 2395, 2396, 2398, 2401, 2402, 2403, 2404, 2405, 2406, 2407, 2408, 2409, 2410, 2411, 2412, 2413, 2414, 2416, 2420, 2421, 2422, 2423, 2424, 2427, 2428, 2431, 2433, 2447, 2450, 2454, 2455, 2456, 2457, 2463, 2467, 2468, 2469, 2470, 2471, 2474, 2476, 2478, 2485, 2490, 2496, 2501, 2502, 2505, 2513, 2517, 2518, 2524, 2527, 2528, 2529, 2530, 2531, 2532, 2533, 2539, 2541, 2542, 2565, 2567, 2571, 2572, 2580, 2581, 2598, 2599, 2600, 2605, 2613, 2616, 2617, 2622, 2628, 2640, 2641, 2642, 2643, 2648, 2657, 2662, 2664, 2668, 2671, 2672, 2676, 2683, 2686, 2687, 2688, 2690, 2692, 2694, 2699, 2700, 2701, 2702, 2706, 2707, 2710, 2712, 2713, 2716, 2717, 2718, 2719, 2720, 2722, 2723, 2724, 2728, 2734, 2735, 2739, 2746, 2747, 2750, 2759, 2761, 2762, 2763, 2764, 2770, 2779, 2788, 2791, 2792, 2793, 2794, 2795, 2797, 2802, 2803, 2804, 2805, 2808, 2815, 2819, 2822, 2826, 2827, 2840, 2841, 2857, 2858, 2861, 2863, 2867, 2871, 2872, 2875, 2881, 2883, 2889, 2890, 2901, 2908, 2912, 2915, 2916, 2917, 2918, 2919, 2921, 2926, 2941, 2942, 2944, 2946, 2947, 2948, 2949, 2950, 2951, 2953, 2959, 2961, 2966, 2968, 2971, 2973, 2976, 2985, 2986, 2987, 2989, 2990, 2991, 2993, 2995, 2997, 3000, 3005, 3006, 3007, 3016, 3019, 3020, 3033, 3034, 3035, 3037, 3039, 3040, 3044, 3052, 3053, 3060, 3061, 3062, 3067, 3068, 3070, 3071, 3072, 3081, 3082, 3083, 3087, 3088, 3095, 3098, 3099, 3100, 3101, 3104, 3105, 3107, 3108, 3113, 3114, 3129, 3145, 3146, 3147, 3148, 3152, 3153, 3155, 3156, 3157, 3159, 3160, 3163, 3168, 3173, 3174, 3175, 3176, 3178, 3185, 3186, 3189, 3196, 3198, 3201, 3203, 3208, 3210, 3219, 3238, 3243, 3244, 3246, 3247, 3249, 3250, 3251, 3252, 3253, 3254, 3255, 3256, 3257, 3258, 3259, 3260, 3261, 3263, 3264, 3265, 3267, 3269, 3271, 3273, 3274, 3285, 3298, 3300, 3301, 3307, 3308, 3316, 3317, 3328, 3334, 3354, 3355, 3358, 3359, 3360, 3361, 3362, 3363, 3366, 3384, 3386, 3388, 3396, 3397, 3398, 3408, 3409, 3418, 3421, 3424, 3429, 3435, 3438, 3441, 3448, 3450, 3451, 3452, 3461, 3462, 3467, 3468, 3469, 3471, 3476, 3477, 3478, 3479, 3481, 3484, 3489, 3494, 3498, 3499, 3501, 3504, 3505, 3507, 3508, 3510, 3512, 3513, 3524, 3525, 3526, 3527, 3528, 3534, 3535, 3536, 3543, 3545, 3548, 3549, 3551, 3552, 3555, 3556, 3565, 3566, 3576, 3578, 3591, 3593, 3608, 3614, 3615, 3617, 3618, 3623, 3624, 3629, 3633, 3635, 3638, 3639, 3649, 3654, 3668, 3671, 3675, 3681, 3683, 3684, 3685, 3686, 3688, 3697, 3698, 3699, 3701, 3702, 3703, 3704, 3705, 3706, 3708, 3712, 3717, 3723, 3730, 3733, 3735, 3740, 3744, 3745, 3751, 3752, 3753, 3755, 3760, 3763, 3770, 3785, 3791, 3793, 3798, 3802, 3809, 3811, 3812, 3826, 3827, 3836, 3841, 3844, 3863, 3868, 3869, 3871, 3873, 3893, 3897, 3911, 3916, 3917, 3927, 3948, 3949, 3952]

In [ ]:
Q

,movie_id,Film-Noir,Animation,Fantasy,Drama,Action,Horror,Sci-Fi,Western,War,Mystery,Thriller,Documentary,Crime,Romance,Comedy,Musical,Children's,Adventure
0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0
1,2,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1
2,3,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0
4,5,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
5,6,0,0,0,0,1,0,0,0,0,0,1,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3847,3917,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
3857,3927,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1
3878,3948,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
3879,3949,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3882,3952,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0

In [ ]:
sub_Q = Q.loc[Q['movie_id'].isin(list_movies_ids)]
sub_Q

,movie_id,Film-Noir,Animation,Fantasy,Drama,Action,Horror,Sci-Fi,Western,War,Mystery,Thriller,Documentary,Crime,Romance,Comedy,Musical,Children's,Adventure
0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0
1,2,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1
2,3,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0
4,5,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
5,6,0,0,0,0,1,0,0,0,0,0,1,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3847,3917,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
3857,3927,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1
3878,3948,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
3879,3949,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3882,3952,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0

In [ ]:
sub_Q.movie_id = pd.Categorical(sub_Q.movie_id,categories=np.array(list_movies_ids), ordered=True)
sub_Q = sub_Q.sort_values("movie_id")
sub_Q

,movie_id,Film-Noir,Animation,Fantasy,Drama,Action,Horror,Sci-Fi,Western,War,Mystery,Thriller,Documentary,Crime,Romance,Comedy,Musical,Children's,Adventure
2789,2858,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0
257,260,0,0,1,0,1,0,1,0,0,0,0,0,0,0,0,0,0,1
1178,1196,0,0,0,1,1,0,1,0,1,0,0,0,0,0,0,0,0,1
1192,1210,0,0,0,0,1,0,1,0,1,0,0,0,0,1,0,0,0,1
476,480,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1244,1264,0,0,0,1,1,0,0,0,0,1,1,0,0,1,0,0,0,0
347,351,0,0,0,1,0,0,0,0,0,0,0,0,0,1,1,0,0,0
105,107,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,1,1
983,996,0,0,0,1,1,0,0,1,0,0,0,0,0,0,0,0,0,0
2045,2114,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [ ]:
name_file_Q = "/content/drive/MyDrive/Sistemas de Recomendação/Projeto2/Versão2/"+ foldername +"/training_subQ_" + str(k_movies) + "movies_" + str(k_users) + "users_sorted.csv"

sub_Q.to_csv(name_file_Q, index=False)

# Q for politomicos

In [ ]:
array_1_to_5 = []
for i in range(Q.shape[0]):
  array_1_to_5.append(0)
  array_1_to_5.append(1)
  array_1_to_5.append(2)
  array_1_to_5.append(3)
  array_1_to_5.append(4)
  array_1_to_5.append(5)

#id from movies['movie_id'] are repeated 5 times
array_5_times_each_column = []
for index,row in sub_Q.iterrows():
  array_5_times_each_column.append(row['movie_id'])
  array_5_times_each_column.append(row['movie_id'])
  array_5_times_each_column.append(row['movie_id'])
  array_5_times_each_column.append(row['movie_id'])
  array_5_times_each_column.append(row['movie_id'])
  array_5_times_each_column.append(row['movie_id'])

In [ ]:

Columns_poli=['movie_id','category']

for i in range(len(genres_array)):
  Columns_poli.append(genres_array[i])

print(Columns_poli)
Q_poli = pd.DataFrame(index=np.arange(Q.shape[0]*6), columns=Columns_poli)
#a_list = list(movies['movie_id'])
Q_poli['movie_id'] = array_5_times_each_column
Q_poli['category'] = array_1_to_5
Q_poli = Q_poli.fillna(0)
Q_poli

['movie_id', 'category', 'Film-Noir', 'Animation', 'Fantasy', 'Drama', 'Action', 'Horror', 'Sci-Fi', 'Western', 'War', 'Mystery', 'Thriller', 'Documentary', 'Crime', 'Romance', 'Comedy', 'Musical', "Children's", 'Adventure']

,movie_id,category,Film-Noir,Animation,Fantasy,Drama,Action,Horror,Sci-Fi,Western,War,Mystery,Thriller,Documentary,Crime,Romance,Comedy,Musical,Children's,Adventure
0,2858,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,2858,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,2858,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,2858,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,2858,4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7195,2114,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
7196,2114,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
7197,2114,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
7198,2114,4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
7199,2114,5,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [ ]:
name_file_Q_poli = "/content/drive/MyDrive/Sistemas de Recomendação/Projeto2/Versão2/" + foldername + "/Q_poli_empty_" + str(k_movies) + "movies_" + str(k_users) + "users_sorted.csv"

Q_poli.to_csv(name_file_Q_poli, index=False)

In [ ]:
movies[movies['movie_id'] == 6]['movie_title'].values[0]

'Heat (1995)'

MOVIES_NAMES

In [ ]:
for index,row in Q.iterrows():
  
  print("Movie_id:", row['movie_id'], movies[movies['movie_id'] == row['movie_id']]['movie_title'].values[0])

Movie_id: 1 Toy Story (1995)
Movie_id: 2 Jumanji (1995)
Movie_id: 3 Grumpier Old Men (1995)
Movie_id: 5 Father of the Bride Part II (1995)
Movie_id: 6 Heat (1995)
Movie_id: 7 Sabrina (1995)
Movie_id: 10 GoldenEye (1995)
Movie_id: 11 American President, The (1995)
Movie_id: 16 Casino (1995)
Movie_id: 17 Sense and Sensibility (1995)
Movie_id: 19 Ace Ventura: When Nature Calls (1995)
Movie_id: 21 Get Shorty (1995)
Movie_id: 22 Copycat (1995)
Movie_id: 24 Powder (1995)
Movie_id: 25 Leaving Las Vegas (1995)
Movie_id: 29 City of Lost Children, The (1995)
Movie_id: 32 Twelve Monkeys (1995)
Movie_id: 34 Babe (1995)
Movie_id: 36 Dead Man Walking (1995)
Movie_id: 39 Clueless (1995)
Movie_id: 44 Mortal Kombat (1995)
Movie_id: 45 To Die For (1995)
Movie_id: 47 Seven (Se7en) (1995)
Movie_id: 48 Pocahontas (1995)
Movie_id: 50 Usual Suspects, The (1995)
Movie_id: 52 Mighty Aphrodite (1995)
Movie_id: 58 Postino, Il (The Postman) (1994)
Movie_id: 60 Indian in the Cupboard, The (1995)
Movie_id: 62 Mr. Holland's Opus (1995)
Movie_id: 69 Friday (1995)
Movie_id: 70 From Dusk Till Dawn (1996)
Movie_id: 95 Broken Arrow (1996)
Movie_id: 104 Happy Gilmore (1996)
Movie_id: 105 Bridges of Madison County, The (1995)
Movie_id: 107 Muppet Treasure Island (1996)
Movie_id: 110 Braveheart (1995)
Movie_id: 111 Taxi Driver (1976)
Movie_id: 112 Rumble in the Bronx (1995)
Movie_id: 125 Flirting With Disaster (1996)
Movie_id: 141 Birdcage, The (1996)
Movie_id: 144 Brothers McMullen, The (1995)
Movie_id: 145 Bad Boys (1995)
Movie_id: 150 Apollo 13 (1995)
Movie_id: 151 Rob Roy (1995)
Movie_id: 153 Batman Forever (1995)
Movie_id: 158 Casper (1995)
Movie_id: 160 Congo (1995)
Movie_id: 161 Crimson Tide (1995)
Movie_id: 162 Crumb (1994)
Movie_id: 163 Desperado (1995)
Movie_id: 164 Devil in a Blue Dress (1995)
Movie_id: 165 Die Hard: With a Vengeance (1995)
Movie_id: 168 First Knight (1995)
Movie_id: 170 Hackers (1995)
Movie_id: 172 Johnny Mnemonic (1995)
Movie_id: 173 Judge Dredd (1995)
Movie_id: 180 Mallrats (1995)
Movie_id: 185 Net, The (1995)
Movie_id: 196 Species (1995)
Movie_id: 198 Strange Days (1995)
Movie_id: 208 Waterworld (1995)
Movie_id: 216 Billy Madison (1995)
Movie_id: 222 Circle of Friends (1995)
Movie_id: 223 Clerks (1994)
Movie_id: 224 Don Juan DeMarco (1995)
Movie_id: 230 Dolores Claiborne (1994)
Movie_id: 231 Dumb & Dumber (1994)
Movie_id: 232 Eat Drink Man Woman (1994)
Movie_id: 235 Ed Wood (1994)
Movie_id: 236 French Kiss (1995)
Movie_id: 237 Forget Paris (1995)
Movie_id: 246 Hoop Dreams (1994)
Movie_id: 247 Heavenly Creatures (1994)
Movie_id: 249 Immortal Beloved (1994)
Movie_id: 252 I.Q. (1994)
Movie_id: 253 Interview with the Vampire (1994)
Movie_id: 260 Star Wars: Episode IV - A New Hope (1977)
Movie_id: 261 Little Women (1994)
Movie_id: 265 Like Water for Chocolate (Como agua para chocolate) (1992)
Movie_id: 266 Legends of the Fall (1994)
Movie_id: 272 Madness of King George, The (1994)
Movie_id: 288 Natural Born Killers (1994)
Movie_id: 292 Outbreak (1995)
Movie_id: 293 Professional, The (a.k.a. Leon: The Professional) (1994)
Movie_id: 296 Pulp Fiction (1994)
Movie_id: 300 Quiz Show (1994)
Movie_id: 303 Quick and the Dead, The (1995)
Movie_id: 306 Three Colors: Red (1994)
Movie_id: 314 Secret of Roan Inish, The (1994)
Movie_id: 316 Stargate (1994)
Movie_id: 317 Santa Clause, The (1994)
Movie_id: 318 Shawshank Redemption, The (1994)
Movie_id: 319 Shallow Grave (1994)
Movie_id: 327 Tank Girl (1995)
Movie_id: 329 Star Trek: Generations (1994)
Movie_id: 333 Tommy Boy (1995)
Movie_id: 337 What's Eating Gilbert Grape (1993)
Movie_id: 339 While You Were Sleeping (1995)
Movie_id: 342 Muriel's Wedding (1994)
Movie_id: 344 Ace Ventura: Pet Detective (1994)
Movie_id: 345 Adventures of Priscilla, Queen of the Desert, The (1994)
Movie_id: 348 Bullets Over Broadway (1994)
Movie_id: 349 Clear and Present Danger (1994)
Movie_id: 350 Client, The (1994)
Movie_id: 351 Corrina, Corrina (1994)
Movie_id: 353 Crow, The (1994)
Movie_id: 355 Flintstones, The (1994)
Movie_id: 356 Forrest Gump (1994)
Movie_id: 357 Four Weddings and a Funeral (1994)
Movie_id: 361 It Could Happen to You (1994)
Movie_id: 364 Lion King, The (1994)
Movie_id: 367 Mask, The (1994)
Movie_id: 368 Maverick (1994)
Movie_id: 370 Naked Gun 33 1/3: The Final Insult (1994)
Movie_id: 372 Reality Bites (1994)
Movie_id: 373 Red Rock West (1992)
Movie_id: 376 River Wild, The (1994)
Movie_id: 377 Speed (1994)
Movie_id: 379 Timecop (1994)
Movie_id: 380 True Lies (1994)
Movie_id: 382 Wolf (1994)
Movie_id: 383 Wyatt Earp (1994)
Movie_id: 410 Addams Family Values (1993)
Movie_id: 412 Age of Innocence, The (1993)
Movie_id: 420 Beverly Hills Cop III (1994)
Movie_id: 426 Body Snatchers (1993)
Movie_id: 428 Bronx Tale, A (1993)
Movie_id: 431 Carlito's Way (1993)
Movie_id: 432 City Slickers II: The Legend of Curly's Gold (1994)
Movie_id: 434 Cliffhanger (1993)
Movie_id: 435 Coneheads (1993)
Movie_id: 440 Dave (1993)
Movie_id: 441 Dazed and Confused (1993)
Movie_id: 442 Demolition Man (1993)
Movie_id: 454 Firm, The (1993)
Movie_id: 455 Free Willy (1993)
Movie_id: 457 Fugitive, The (1993)
Movie_id: 466 Hot Shots! Part Deux (1993)
Movie_id: 468 Englishman Who Went Up a Hill, But Came Down a Mountain, The (1995)
Movie_id: 471 Hudsucker Proxy, The (1994)
Movie_id: 474 In the Line of Fire (1993)
Movie_id: 475 In the Name of the Father (1993)
Movie_id: 480 Jurassic Park (1993)
Movie_id: 481 Kalifornia (1993)
Movie_id: 485 Last Action Hero (1993)
Movie_id: 492 Manhattan Murder Mystery (1993)
Movie_id: 493 Menace II Society (1993)
Movie_id: 494 Executive Decision (1996)
Movie_id: 497 Much Ado About Nothing (1993)
Movie_id: 500 Mrs. Doubtfire (1993)
Movie_id: 507 Perfect World, A (1993)
Movie_id: 508 Philadelphia (1993)
Movie_id: 509 Piano, The (1993)
Movie_id: 514 Ref, The (1994)
Movie_id: 515 Remains of the Day, The (1993)
Movie_id: 517 Rising Sun (1993)
Movie_id: 520 Robin Hood: Men in Tights (1993)
Movie_id: 524 Rudy (1993)
Movie_id: 527 Schindler's List (1993)
Movie_id: 529 Searching for Bobby Fischer (1993)
Movie_id: 531 Secret Garden, The (1993)
Movie_id: 532 Serial Mom (1994)
Movie_id: 534 Shadowlands (1993)
Movie_id: 535 Short Cuts (1993)
Movie_id: 538 Six Degrees of Separation (1993)
Movie_id: 539 Sleepless in Seattle (1993)
Movie_id: 541 Blade Runner (1982)
Movie_id: 543 So I Married an Axe Murderer (1993)
Movie_id: 546 Super Mario Bros. (1993)
Movie_id: 551 Nightmare Before Christmas, The (1993)
Movie_id: 552 Three Musketeers, The (1993)
Movie_id: 553 Tombstone (1993)
Movie_id: 555 True Romance (1993)
Movie_id: 562 Welcome to the Dollhouse (1995)
Movie_id: 585 Brady Bunch Movie, The (1995)
Movie_id: 586 Home Alone (1990)
Movie_id: 587 Ghost (1990)
Movie_id: 588 Aladdin (1992)
Movie_id: 589 Terminator 2: Judgment Day (1991)
Movie_id: 590 Dances with Wolves (1990)
Movie_id: 592 Batman (1989)
Movie_id: 593 Silence of the Lambs, The (1991)
Movie_id: 594 Snow White and the Seven Dwarfs (1937)
Movie_id: 595 Beauty and the Beast (1991)
Movie_id: 596 Pinocchio (1940)
Movie_id: 597 Pretty Woman (1990)
Movie_id: 599 Wild Bunch, The (1969)
Movie_id: 608 Fargo (1996)
Movie_id: 610 Heavy Metal (1981)
Movie_id: 616 Aristocats, The (1970)
Movie_id: 628 Primal Fear (1996)
Movie_id: 647 Courage Under Fire (1996)
Movie_id: 648 Mission: Impossible (1996)
Movie_id: 653 Dragonheart (1996)
Movie_id: 661 James and the Giant Peach (1996)
Movie_id: 663 Kids in the Hall: Brain Candy (1996)
Movie_id: 671 Mystery Science Theater 3000: The Movie (1996)
Movie_id: 673 Space Jam (1996)
Movie_id: 674 Barbarella (1968)
Movie_id: 678 Some Folks Call It a Sling Blade (1993)
Movie_id: 707 Mulholland Falls (1996)
Movie_id: 708 Truth About Cats & Dogs, The (1996)
Movie_id: 720 Wallace & Gromit: The Best of Aardman Animation (1996)
Movie_id: 724 Craft, The (1996)
Movie_id: 733 Rock, The (1996)
Movie_id: 736 Twister (1996)
Movie_id: 737 Barb Wire (1996)
Movie_id: 741 Ghost in the Shell (Kokaku kidotai) (1995)
Movie_id: 745 Close Shave, A (1995)
Movie_id: 748 Arrival, The (1996)
Movie_id: 750 Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1963)
Movie_id: 762 Striptease (1996)
Movie_id: 778 Trainspotting (1996)
Movie_id: 780 Independence Day (ID4) (1996)
Movie_id: 783 Hunchback of Notre Dame, The (1996)
Movie_id: 784 Cable Guy, The (1996)
Movie_id: 785 Kingpin (1996)
Movie_id: 786 Eraser (1996)
Movie_id: 788 Nutty Professor, The (1996)
Movie_id: 799 Frighteners, The (1996)
Movie_id: 800 Lone Star (1996)
Movie_id: 802 Phenomenon (1996)
Movie_id: 805 Time to Kill, A (1996)
Movie_id: 830 First Wives Club, The (1996)
Movie_id: 832 Ransom (1996)
Movie_id: 838 Emma (1996)
Movie_id: 849 Escape from L.A. (1996)
Movie_id: 852 Tin Cup (1996)
Movie_id: 858 Godfather, The (1972)
Movie_id: 861 Supercop (1992)
Movie_id: 866 Bound (1996)
Movie_id: 880 Island of Dr. Moreau, The (1996)
Movie_id: 898 Philadelphia Story, The (1940)
Movie_id: 899 Singin' in the Rain (1952)
Movie_id: 900 American in Paris, An (1951)
Movie_id: 902 Breakfast at Tiffany's (1961)
Movie_id: 903 Vertigo (1958)
Movie_id: 904 Rear Window (1954)
Movie_id: 905 It Happened One Night (1934)
Movie_id: 908 North by Northwest (1959)
Movie_id: 909 Apartment, The (1960)
Movie_id: 910 Some Like It Hot (1959)
Movie_id: 911 Charade (1963)
Movie_id: 912 Casablanca (1942)
Movie_id: 913 Maltese Falcon, The (1941)
Movie_id: 914 My Fair Lady (1964)
Movie_id: 915 Sabrina (1954)
Movie_id: 916 Roman Holiday (1953)
Movie_id: 919 Wizard of Oz, The (1939)
Movie_id: 920 Gone with the Wind (1939)
Movie_id: 921 My Favorite Year (1982)
Movie_id: 922 Sunset Blvd. (a.k.a. Sunset Boulevard) (1950)
Movie_id: 923 Citizen Kane (1941)
Movie_id: 924 2001: A Space Odyssey (1968)
Movie_id: 926 All About Eve (1950)
Movie_id: 928 Rebecca (1940)
Movie_id: 930 Notorious (1946)
Movie_id: 933 To Catch a Thief (1955)
Movie_id: 934 Father of the Bride (1950)
Movie_id: 940 Adventures of Robin Hood, The (1938)
Movie_id: 942 Laura (1944)
Movie_id: 950 Thin Man, The (1934)
Movie_id: 951 His Girl Friday (1940)
Movie_id: 952 Around the World in 80 Days (1956)
Movie_id: 953 It's a Wonderful Life (1946)
Movie_id: 954 Mr. Smith Goes to Washington (1939)
Movie_id: 955 Bringing Up Baby (1938)
Movie_id: 968 Night of the Living Dead (1968)
Movie_id: 969 African Queen, The (1951)
Movie_id: 971 Cat on a Hot Tin Roof (1958)
Movie_id: 994 Big Night (1996)
Movie_id: 996 Last Man Standing (1996)
Movie_id: 999 2 Days in the Valley (1996)
Movie_id: 1009 Escape to Witch Mountain (1975)
Movie_id: 1012 Old Yeller (1957)
Movie_id: 1013 Parent Trap, The (1961)
Movie_id: 1017 Swiss Family Robinson (1960)
Movie_id: 1019 20,000 Leagues Under the Sea (1954)
Movie_id: 1020 Cool Runnings (1993)
Movie_id: 1022 Cinderella (1950)
Movie_id: 1025 Sword in the Stone, The (1963)
Movie_id: 1027 Robin Hood: Prince of Thieves (1991)
Movie_id: 1028 Mary Poppins (1964)
Movie_id: 1029 Dumbo (1941)
Movie_id: 1030 Pete's Dragon (1977)
Movie_id: 1031 Bedknobs and Broomsticks (1971)
Movie_id: 1032 Alice in Wonderland (1951)
Movie_id: 1033 Fox and the Hound, The (1981)
Movie_id: 1035 Sound of Music, The (1965)
Movie_id: 1036 Die Hard (1988)
Movie_id: 1037 Lawnmower Man, The (1992)
Movie_id: 1041 Secrets & Lies (1996)
Movie_id: 1042 That Thing You Do! (1996)
Movie_id: 1047 Long Kiss Goodnight, The (1996)
Movie_id: 1049 Ghost and the Darkness, The (1996)
Movie_id: 1057 Everyone Says I Love You (1996)
Movie_id: 1059 William Shakespeare's Romeo and Juliet (1996)
Movie_id: 1060 Swingers (1996)
Movie_id: 1061 Sleepers (1996)
Movie_id: 1073 Willy Wonka and the Chocolate Factory (1971)
Movie_id: 1077 Sleeper (1973)
Movie_id: 1078 Bananas (1971)
Movie_id: 1079 Fish Called Wanda, A (1988)
Movie_id: 1080 Monty Python's Life of Brian (1979)
Movie_id: 1081 Victor/Victoria (1982)
Movie_id: 1084 Bonnie and Clyde (1967)
Movie_id: 1086 Dial M for Murder (1954)
Movie_id: 1088 Dirty Dancing (1987)
Movie_id: 1089 Reservoir Dogs (1992)
Movie_id: 1090 Platoon (1986)
Movie_id: 1091 Weekend at Bernie's (1989)
Movie_id: 1092 Basic Instinct (1992)
Movie_id: 1093 Doors, The (1991)
Movie_id: 1094 Crying Game, The (1992)
Movie_id: 1095 Glengarry Glen Ross (1992)
Movie_id: 1096 Sophie's Choice (1982)
Movie_id: 1097 E.T. the Extra-Terrestrial (1982)
Movie_id: 1100 Days of Thunder (1990)
Movie_id: 1101 Top Gun (1986)
Movie_id: 1103 Rebel Without a Cause (1955)
Movie_id: 1104 Streetcar Named Desire, A (1951)
Movie_id: 1120 People vs. Larry Flynt, The (1996)
Movie_id: 1124 On Golden Pond (1981)
Movie_id: 1125 Return of the Pink Panther, The (1974)
Movie_id: 1126 Drop Dead Fred (1991)
Movie_id: 1127 Abyss, The (1989)
Movie_id: 1129 Escape from New York (1981)
Movie_id: 1135 Private Benjamin (1980)
Movie_id: 1136 Monty Python and the Holy Grail (1974)
Movie_id: 1147 When We Were Kings (1996)
Movie_id: 1148 Wrong Trousers, The (1993)
Movie_id: 1171 Bob Roberts (1992)
Movie_id: 1172 Cinema Paradiso (1988)
Movie_id: 1175 Delicatessen (1991)
Movie_id: 1179 Grifters, The (1990)
Movie_id: 1183 English Patient, The (1996)
Movie_id: 1185 My Left Foot (1989)
Movie_id: 1186 Sex, Lies, and Videotape (1989)
Movie_id: 1188 Strictly Ballroom (1992)
Movie_id: 1189 Thin Blue Line, The (1988)
Movie_id: 1193 One Flew Over the Cuckoo's Nest (1975)
Movie_id: 1196 Star Wars: Episode V - The Empire Strikes Back (1980)
Movie_id: 1197 Princess Bride, The (1987)
Movie_id: 1198 Raiders of the Lost Ark (1981)
Movie_id: 1199 Brazil (1985)
Movie_id: 1200 Aliens (1986)
Movie_id: 1201 Good, The Bad and The Ugly, The (1966)
Movie_id: 1203 12 Angry Men (1957)
Movie_id: 1204 Lawrence of Arabia (1962)
Movie_id: 1206 Clockwork Orange, A (1971)
Movie_id: 1207 To Kill a Mockingbird (1962)
Movie_id: 1208 Apocalypse Now (1979)
Movie_id: 1210 Star Wars: Episode VI - Return of the Jedi (1983)
Movie_id: 1212 Third Man, The (1949)
Movie_id: 1213 GoodFellas (1990)
Movie_id: 1214 Alien (1979)
Movie_id: 1215 Army of Darkness (1993)
Movie_id: 1217 Ran (1985)
Movie_id: 1219 Psycho (1960)
Movie_id: 1220 Blues Brothers, The (1980)
Movie_id: 1221 Godfather: Part II, The (1974)
Movie_id: 1222 Full Metal Jacket (1987)
Movie_id: 1223 Grand Day Out, A (1992)
Movie_id: 1224 Henry V (1989)
Movie_id: 1225 Amadeus (1984)
Movie_id: 1228 Raging Bull (1980)
Movie_id: 1230 Annie Hall (1977)
Movie_id: 1231 Right Stuff, The (1983)
Movie_id: 1233 Boat, The (Das Boot) (1981)
Movie_id: 1234 Sting, The (1973)
Movie_id: 1235 Harold and Maude (1971)
Movie_id: 1237 Seventh Seal, The (Sjunde inseglet, Det) (1957)
Movie_id: 1238 Local Hero (1983)
Movie_id: 1240 Terminator, The (1984)
Movie_id: 1242 Glory (1989)
Movie_id: 1243 Rosencrantz and Guildenstern Are Dead (1990)
Movie_id: 1244 Manhattan (1979)
Movie_id: 1245 Miller's Crossing (1990)
Movie_id: 1246 Dead Poets Society (1989)
Movie_id: 1247 Graduate, The (1967)
Movie_id: 1248 Touch of Evil (1958)
Movie_id: 1249 Nikita (La Femme Nikita) (1990)
Movie_id: 1250 Bridge on the River Kwai, The (1957)
Movie_id: 1252 Chinatown (1974)
Movie_id: 1253 Day the Earth Stood Still, The (1951)
Movie_id: 1254 Treasure of the Sierra Madre, The (1948)
Movie_id: 1256 Duck Soup (1933)
Movie_id: 1257 Better Off Dead... (1985)
Movie_id: 1258 Shining, The (1980)
Movie_id: 1259 Stand by Me (1986)
Movie_id: 1260 M (1931)
Movie_id: 1261 Evil Dead II (Dead By Dawn) (1987)
Movie_id: 1262 Great Escape, The (1963)
Movie_id: 1263 Deer Hunter, The (1978)
Movie_id: 1264 Diva (1981)
Movie_id: 1265 Groundhog Day (1993)
Movie_id: 1266 Unforgiven (1992)
Movie_id: 1267 Manchurian Candidate, The (1962)
Movie_id: 1268 Pump Up the Volume (1990)
Movie_id: 1269 Arsenic and Old Lace (1944)
Movie_id: 1270 Back to the Future (1985)
Movie_id: 1271 Fried Green Tomatoes (1991)
Movie_id: 1272 Patton (1970)
Movie_id: 1274 Akira (1988)
Movie_id: 1275 Highlander (1986)
Movie_id: 1276 Cool Hand Luke (1967)
Movie_id: 1277 Cyrano de Bergerac (1990)
Movie_id: 1278 Young Frankenstein (1974)
Movie_id: 1280 Raise the Red Lantern (1991)
Movie_id: 1282 Fantasia (1940)
Movie_id: 1283 High Noon (1952)
Movie_id: 1284 Big Sleep, The (1946)
Movie_id: 1285 Heathers (1989)
Movie_id: 1286 Somewhere in Time (1980)
Movie_id: 1287 Ben-Hur (1959)
Movie_id: 1288 This Is Spinal Tap (1984)
Movie_id: 1291 Indiana Jones and the Last Crusade (1989)
Movie_id: 1292 Being There (1979)
Movie_id: 1293 Gandhi (1982)
Movie_id: 1294 M*A*S*H (1970)
Movie_id: 1295 Unbearable Lightness of Being, The (1988)
Movie_id: 1296 Room with a View, A (1986)
Movie_id: 1297 Real Genius (1985)
Movie_id: 1298 Pink Floyd - The Wall (1982)
Movie_id: 1299 Killing Fields, The (1984)
Movie_id: 1300 My Life as a Dog (Mitt liv som hund) (1985)
Movie_id: 1301 Forbidden Planet (1956)
Movie_id: 1302 Field of Dreams (1989)
Movie_id: 1303 Man Who Would Be King, The (1975)
Movie_id: 1304 Butch Cassidy and the Sundance Kid (1969)
Movie_id: 1307 When Harry Met Sally... (1989)
Movie_id: 1320 Alien³ (1992)
Movie_id: 1321 American Werewolf in London, An (1981)
Movie_id: 1327 Amityville Horror, The (1979)
Movie_id: 1333 Birds, The (1963)
Movie_id: 1334 Blob, The (1958)
Movie_id: 1339 Bram Stoker's Dracula (1992)
Movie_id: 1342 Candyman (1992)
Movie_id: 1343 Cape Fear (1991)
Movie_id: 1344 Cape Fear (1962)
Movie_id: 1345 Carrie (1976)
Movie_id: 1347 Nightmare on Elm Street, A (1984)
Movie_id: 1350 Omen, The (1976)
Movie_id: 1354 Breaking the Waves (1996)
Movie_id: 1356 Star Trek: First Contact (1996)
Movie_id: 1357 Shine (1996)
Movie_id: 1358 Sling Blade (1996)
Movie_id: 1367 101 Dalmatians (1996)
Movie_id: 1370 Die Hard 2 (1990)
Movie_id: 1371 Star Trek: The Motion Picture (1979)
Movie_id: 1372 Star Trek VI: The Undiscovered Country (1991)
Movie_id: 1373 Star Trek V: The Final Frontier (1989)
Movie_id: 1374 Star Trek: The Wrath of Khan (1982)
Movie_id: 1375 Star Trek III: The Search for Spock (1984)
Movie_id: 1376 Star Trek IV: The Voyage Home (1986)
Movie_id: 1377 Batman Returns (1992)
Movie_id: 1378 Young Guns (1988)
Movie_id: 1379 Young Guns II (1990)
Movie_id: 1380 Grease (1978)
Movie_id: 1381 Grease 2 (1982)
Movie_id: 1385 Under Siege (1992)
Movie_id: 1387 Jaws (1975)
Movie_id: 1388 Jaws 2 (1978)
Movie_id: 1391 Mars Attacks! (1996)
Movie_id: 1393 Jerry Maguire (1996)
Movie_id: 1394 Raising Arizona (1987)
Movie_id: 1395 Tin Men (1987)
Movie_id: 1396 Sneakers (1992)
Movie_id: 1405 Beavis and Butt-head Do America (1996)
Movie_id: 1407 Scream (1996)
Movie_id: 1408 Last of the Mohicans, The (1992)
Movie_id: 1409 Michael (1996)
Movie_id: 1411 Hamlet (1996)
Movie_id: 1416 Evita (1996)
Movie_id: 1422 Murder at 1600 (1997)
Movie_id: 1429 Jackie Chan's First Strike (1996)
Movie_id: 1438 Dante's Peak (1997)
Movie_id: 1441 Benny & Joon (1993)
Movie_id: 1449 Waiting for Guffman (1996)
Movie_id: 1457 Fools Rush In (1997)
Movie_id: 1459 Absolute Power (1997)
Movie_id: 1466 Donnie Brasco (1997)
Movie_id: 1476 Private Parts (1997)
Movie_id: 1479 Saint, The (1997)
Movie_id: 1480 Smilla's Sense of Snow (1997)
Movie_id: 1485 Liar Liar (1997)
Movie_id: 1488 Devil's Own, The (1997)
Movie_id: 1499 Anaconda (1997)
Movie_id: 1500 Grosse Pointe Blank (1997)
Movie_id: 1513 Romy and Michele's High School Reunion (1997)
Movie_id: 1517 Austin Powers: International Man of Mystery (1997)
Movie_id: 1518 Breakdown (1997)
Movie_id: 1527 Fifth Element, The (1997)
Movie_id: 1537 Shall We Dance? (Shall We Dansu?) (1996)
Movie_id: 1544 Lost World: Jurassic Park, The (1997)
Movie_id: 1552 Con Air (1997)
Movie_id: 1556 Speed 2: Cruise Control (1997)
Movie_id: 1562 Batman & Robin (1997)
Movie_id: 1566 Hercules (1997)
Movie_id: 1569 My Best Friend's Wedding (1997)
Movie_id: 1573 Face/Off (1997)
Movie_id: 1580 Men in Black (1997)
Movie_id: 1584 Contact (1997)
Movie_id: 1586 G.I. Jane (1997)
Movie_id: 1587 Conan the Barbarian (1982)
Movie_id: 1588 George of the Jungle (1997)
Movie_id: 1589 Cop Land (1997)
Movie_id: 1590 Event Horizon (1997)
Movie_id: 1591 Spawn (1997)
Movie_id: 1594 In the Company of Men (1997)
Movie_id: 1597 Conspiracy Theory (1997)
Movie_id: 1603 Mimic (1997)
Movie_id: 1608 Air Force One (1997)
Movie_id: 1610 Hunt for Red October, The (1990)